Repository mozilla/gecko-projects: changes, and which Taskcluster tasks are due for each by the changed paths.
All: linux64-shell-haz/debug, taskgraph-tests, marionette-harness, mozbase, mozharness, mozlint, webidl-test/opt, macosx64-clang/opt, macosx64-clang-tidy/opt, macosx64-cctools-port/opt

Path conditions:
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  taskgraph-tests: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  marionette-harness: any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py
  mozbase: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness: any of: testing/mozharness/**
  mozlint: any of: python/mozlint/**, python/mach_commands.py
  webidl-test/opt: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  macosx64-clang/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-clang-tidy/opt: any of: build/clang-plugin/**, build/build-clang/**, taskcluster/scripts/misc/build-clang-tidy-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-cctools-port/opt: any of: taskcluster/scripts/misc/build-cctools-port-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py

Bug 1362534 - Allow nightly date to be signed with nightly key
  taskcluster/taskgraph/transforms/signing.py
  taskcluster/taskgraph/util/scriptworker.py
Due: taskgraph-tests

Clear the previous theme geometries when building a display list with a retained builder
  layout/base/nsLayoutUtils.cpp
  layout/painting/nsDisplayList.h
Due: none

Bug 1373384: Enable OSX opt cross-compile builds as tier1 r=kmoir
  taskcluster/ci/build/macosx.yml
  taskcluster/taskgraph/transforms/job/mozharness_test.py
  taskcluster/taskgraph/transforms/tests.py
Due: taskgraph-tests

Rewrite deletions again to store a list of all alive display items on each frame. Hopefully this really gets rid of the UAFs with deleted frames
  layout/base/PresShell.cpp
  layout/base/nsLayoutUtils.cpp
  layout/generic/nsFrame.cpp
  layout/generic/nsIFrame.h
  layout/painting/FrameLayerBuilder.cpp
  layout/painting/FrameLayerBuilder.h
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
  mfbt/SmallPointerArray.h
Due: none

Backed out changeset 0e85dde9ec9b - make sure Photon appmenu is not enabled on Cedar
  browser/app/profile/firefox.js
Due: none

Bug 1373384: Enable OSX builds on all branches
  taskcluster/ci/build/macosx.yml
Due: none

fix mac signing format r=Callek DONTBUILD
  taskcluster/taskgraph/transforms/build_signing.py
Due: taskgraph-tests

Only retain AGRs if we're also retaining display items
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
Due: none

Unregister ThemeGeometries when items which registered them are destroyed
  layout/base/nsLayoutUtils.cpp
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
  layout/xul/tree/nsTreeBodyFrame.cpp
Due: none

Don't modify mFrame in nsDisplayTableBackgroundImage since it confuses the display item tracking
  layout/painting/nsDisplayList.cpp
Due: none

Update nsDisplayWrapList bounds when child items are removed
  layout/base/nsLayoutUtils.cpp
  layout/painting/nsDisplayList.h
Due: none

enable tests for macosx64 nightlies f=catlee DONTBUILD
  taskcluster/ci/test/test-platforms.yml
  taskcluster/ci/test/test-sets.yml
Due: none

Sign setup.exe as well for windows
  taskcluster/taskgraph/transforms/build_signing.py
Due: taskgraph-tests

No Bug - fix pep8/pyflakes
  taskcluster/taskgraph/transforms/build_signing.py
  taskcluster/taskgraph/transforms/job/mozharness_test.py
Due: taskgraph-tests

Bug 1374310 - Run mochitest-browser-screenshots on Cedar for cedar pushes. r=me
  taskcluster/ci/test/tests.yml
Due: none

No Bug - adjust differences that are based on update channel, date only
  browser/config/mozconfigs/macosx64/debug
  browser/config/mozconfigs/macosx64/debug-asan
  browser/config/mozconfigs/macosx64/devedition
  browser/config/mozconfigs/macosx64/l10n-mozconfig
  browser/config/mozconfigs/macosx64/l10n-mozconfig-devedition
  browser/config/mozconfigs/macosx64/nightly
  browser/config/mozconfigs/macosx64/nightly-asan
  toolkit/mozapps/update/updater/moz.build
Due: none

Fix mar.exe path
  taskcluster/taskgraph/transforms/repackage.py
Due: taskgraph-tests

Mark frames as modified when they get a new style context (as this will likely invalidate their display items) even if doesn't require scheduling a paint right now
  layout/base/nsLayoutUtils.cpp
  layout/generic/nsFrame.cpp
Due: none

No Bug - fix up mar.exe path
  taskcluster/taskgraph/transforms/repackage.py
Due: taskgraph-tests

Fixup test sets for osx devedition
  taskcluster/ci/test/test-platforms.yml
Due: none

Fix output paths for windows repackage
  taskcluster/taskgraph/transforms/repackage.py
Due: taskgraph-tests

Rebuild appropriate display items if the caret frame for the document changes
  layout/base/nsLayoutUtils.cpp
  layout/generic/nsFrame.cpp
  layout/generic/nsIFrame.h
  layout/generic/nsSubDocumentFrame.cpp
  layout/generic/nsSubDocumentFrame.h
  layout/painting/nsDisplayList.h
Due: none

Bug 1374589 - Port windows tests which require signed builds to in-tree tasks
  taskcluster/ci/build-signing-ci/kind.yml
  taskcluster/ci/test/kind.yml
  taskcluster/ci/test/test-sets.yml
  taskcluster/ci/test/tests.yml
  taskcluster/taskgraph/loader/test.py
  taskcluster/taskgraph/transforms/job/mozharness.py
  taskcluster/taskgraph/transforms/job/mozharness_test.py
  taskcluster/taskgraph/transforms/signing.py
  taskcluster/taskgraph/transforms/tests.py
Due: taskgraph-tests

Backed out changeset 885daa666397, to make merging easier.
  taskcluster/ci/build-signing-ci/kind.yml
  taskcluster/ci/test/kind.yml
  taskcluster/ci/test/test-sets.yml
  taskcluster/ci/test/tests.yml
  taskcluster/taskgraph/loader/test.py
  taskcluster/taskgraph/transforms/job/mozharness.py
  taskcluster/taskgraph/transforms/job/mozharness_test.py
  taskcluster/taskgraph/transforms/signing.py
  taskcluster/taskgraph/transforms/tests.py
Due: taskgraph-tests

Fix static analysis error and assertion during caret invalidation
  layout/base/nsLayoutUtils.cpp
  layout/generic/nsSubDocumentFrame.cpp
  layout/generic/nsSubDocumentFrame.h
  layout/painting/nsDisplayList.h
Due: none

Fix windows repackage, by using public/build and making sure artifacts output to there.
  taskcluster/taskgraph/transforms/repackage.py
  testing/mozharness/configs/repackage/osx_signed.py
  testing/mozharness/configs/repackage/win_signed.py
  testing/mozharness/scripts/repackage.py
Due: taskgraph-tests, mozharness

Sign correct installer filename.
  taskcluster/taskgraph/transforms/repackage_signing.py
Due: taskgraph-tests

WIP -- add complete mar to repackage signing for OSX
  taskcluster/ci/balrog/kind.yml
  taskcluster/ci/beetmover-repackage-l10n/kind.yml
  taskcluster/ci/beetmover-repackage/kind.yml
  taskcluster/ci/checksums-signing/kind.yml
  taskcluster/ci/repackage-signing/kind.yml
  taskcluster/taskgraph/transforms/beetmover_repackage.py
  taskcluster/taskgraph/transforms/beetmover_repackage_l10n.py
  taskcluster/taskgraph/transforms/build_signing.py
  taskcluster/taskgraph/transforms/job/mozharness.py
  taskcluster/taskgraph/transforms/repackage_signing.py
  taskcluster/taskgraph/transforms/tests.py
Due: taskgraph-tests

Add support to ./mach repackage for OSX complete.mar's
  python/mozbuild/mozbuild/repackaging/mar.py
  taskcluster/taskgraph/transforms/repackage.py
  testing/mozharness/configs/repackage/osx_signed.py
Due: taskgraph-tests, mozharness

Fix mar path for repackage download
  taskcluster/taskgraph/transforms/repackage.py
Due: taskgraph-tests

Hopefully fix en-US, for OSX.
  taskcluster/taskgraph/transforms/beetmover_repackage.py
  testing/mozharness/configs/repackage/osx_signed.py
Due: taskgraph-tests, mozharness

Rebuild the whole display list if the stored display list is empty
  layout/base/nsLayoutUtils.cpp
Due: none

WIP - L10n OSX
  taskcluster/taskgraph/transforms/repackage.py
Due: taskgraph-tests

Build display list for empty dirty rect if it's within stacking context
  layout/base/nsLayoutUtils.cpp
Due: none

Key nsDisplayTextOverflowMarker based on the first frame in the relevant line so that they are unique
  layout/generic/TextOverflow.cpp
Due: none

Mark frames as needing new display items if they get invalidated
  layout/generic/nsFrame.cpp
Due: none

Revert accidental change
  taskcluster/taskgraph/transforms/job/mozharness.py
Due: taskgraph-tests

Bug 1362534 - Get rid of build-signing-ci kind
  taskcluster/ci/build-signing-ci/kind.yml
  taskcluster/ci/build-signing/kind.yml
  taskcluster/ci/test/kind.yml
  taskcluster/docs/kinds.rst
  taskcluster/taskgraph/loader/test.py
  taskcluster/taskgraph/transforms/balrog.py
  taskcluster/taskgraph/transforms/beetmover.py
  taskcluster/taskgraph/transforms/beetmover_checksums.py
  taskcluster/taskgraph/transforms/beetmover_repackage.py
  taskcluster/taskgraph/transforms/checksums_signing.py
  taskcluster/taskgraph/transforms/job/mozharness_test.py
  taskcluster/taskgraph/transforms/repackage.py
  taskcluster/taskgraph/transforms/repackage_signing.py
  taskcluster/taskgraph/transforms/signing.py
  taskcluster/taskgraph/transforms/tests.py
  taskcluster/taskgraph/util/attributes.py
Due: taskgraph-tests

Add a pref flag for display list retaining
  gfx/thebes/gfxPrefs.h
  layout/base/nsLayoutUtils.cpp
Due: none
