Repository mozilla/gecko-projects: changes, and which Taskcluster tasks are due for each by the changed paths.
All: linux64-shell-haz/debug, generate, upload, bugzilla-components, taskgraph-tests, marionette-harness, mozbase, mozharness, mozlint, mochitest-harness, mozversioncontrol, reftest-harness, webidl-test/opt, macosx64-clang/opt, macosx64-clang-tidy/opt, macosx64-cctools-port/opt

Path conditions:
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  generate: any of: **/*.py, **/*.rst, tools/docs/**
  upload: any of: **/*.py, **/*.rst, tools/docs/**
  bugzilla-components: any of: **
  taskgraph-tests: (any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py) or (any of: config/mozunit.py, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py)
  marionette-harness: (any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py) or (any of: config/mozunit.py, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt)
  mozbase: (any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py) or (any of: config/mozunit.py, python/mach_commands.py, testing/mozbase/**)
  mozharness: (any of: testing/mozharness/**) or (any of: config/mozunit.py, python/mach_commands.py, testing/mozharness/**)
  mozlint: (any of: python/mozlint/**, python/mach_commands.py) or (any of: config/mozunit.py, python/mach_commands.py, python/mozlint/**)
  mochitest-harness: any of: config/mozunit.py, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/prefs_general.js
  mozversioncontrol: any of: config/mozunit.py, python/mach_commands.py, python/mozversioncontrol/**
  reftest-harness: any of: config/mozunit.py, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  webidl-test/opt: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  macosx64-clang/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-clang-tidy/opt: any of: build/clang-plugin/**, build/build-clang/**, taskcluster/scripts/misc/build-clang-tidy-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-cctools-port/opt: any of: taskcluster/scripts/misc/build-cctools-port-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py

Automatic version bump. CLOSED TREE NO BUG a=release
  browser/config/version_display.txt
Due: bugzilla-components

No bug - Tagging e2e66877df633b8d7718632450137262977c8fc8 with FIREFOX_58_0b15_BUILD1, FIREFOX_58_0b15_RELEASE a=release CLOSED TREE
  .hgtags
Due: bugzilla-components

release_deps: remove erroneous comment, fix double if
  taskcluster/taskgraph/transforms/release_deps.py
Due: generate, upload, bugzilla-components, taskgraph-tests

add binary-transparency deps
  taskcluster/ci/release-binary-transparency/kind.yml
Due: bugzilla-components

uptake - calculate platforms dynamically
  taskcluster/ci/release-uptake-monitoring/kind.yml
Due: bugzilla-components

address task.py review comments
  taskcluster/taskgraph/transforms/task.py
Due: generate, upload, bugzilla-components, taskgraph-tests

task.py - shipping_product check
  taskcluster/ci/beetmover-checksums/kind.yml
  taskcluster/ci/google-play-strings/kind.yml
  taskcluster/taskgraph/transforms/google_play_strings.py
  taskcluster/taskgraph/transforms/task.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Fix dev devedition mozharness config.
  testing/mozharness/configs/releases/dev_updates_firefox_devedition.py
Due: generate, upload, bugzilla-components, mozharness

fix yaml lint
  taskcluster/ci/release-snap/kind.yml
Due: bugzilla-components

final verify - remove comment
  taskcluster/ci/release-final-verify/kind.yml
Due: bugzilla-components

*verify remove dependencies todos
  taskcluster/ci/release-buildbot-update-verify/kind.yml
  taskcluster/ci/release-secondary-final-verify/kind.yml
  taskcluster/ci/release-update-verify/kind.yml
Due: bugzilla-components

remove release updates builder fixmes
  taskcluster/ci/release-updates-builder/kind.yml
Due: bugzilla-components

No bug - Tagging eb5aaf317a2ece2454691692308a41678713b3a5 with FIREFOX_58_0b16_BUILD1, FIREFOX_58_0b16_RELEASE a=release CLOSED TREE
  .hgtags
Due: bugzilla-components

last task.py review comments
  taskcluster/taskgraph/transforms/task.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Add bouncer submission for Devedition.
  taskcluster/ci/release-bouncer-sub/kind.yml
Due: bugzilla-components

Fix up release-notify-ship deps and desktop message
  taskcluster/ci/release-notify-ship/kind.yml
Due: bugzilla-components

Add missing balrog publishing task
  taskcluster/ci/release-balrog-publishing/kind.yml
  taskcluster/docs/kinds.rst
Due: generate, upload, bugzilla-components

Add missing dep on notify ship
  taskcluster/ci/release-mark-as-shipped/kind.yml
  taskcluster/ci/release-notify-ship/kind.yml
Due: bugzilla-components

Another fix for devedition mozharness update configs.
  testing/mozharness/configs/releases/dev_updates_firefox_devedition.py
Due: generate, upload, bugzilla-components, mozharness

fix task lint
  taskcluster/taskgraph/transforms/task.py
Due: generate, upload, bugzilla-components, taskgraph-tests

bm-r : remove debug print
  taskcluster/taskgraph/transforms/beetmover_repackage.py
Due: generate, upload, bugzilla-components, taskgraph-tests

l10n deved platform fix
  taskcluster/ci/nightly-l10n/kind.yml
Due: bugzilla-components

fix
  taskcluster/taskgraph/transforms/partials.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Set MOZ_UPDATE_CHANNEL for devedition builds - STAGING ONLY
  testing/mozharness/configs/builds/branch_specifics.py
Due: generate, upload, bugzilla-components, mozharness

No bug - Tagging 00797d487f97c21cabd9c7d6bbfb973266e5a04f with FIREFOX_58_0b17_BUILD1, FIREFOX_58_0b17_RELEASE a=release CLOSED TREE
  .hgtags
Due: bugzilla-components

Bug 1425095 - part3: Add missing params in buildbot properties
  taskcluster/taskgraph/transforms/job/buildbot.py
Due: generate, upload, bugzilla-components, taskgraph-tests

(garbas) Bug 1425265 - tcmigration remove treeherder symbols from post-*-dummy tasks r=aki
  taskcluster/ci/post-balrog-dummy/kind.yml
  taskcluster/ci/post-beetmover-dummy/kind.yml
  taskcluster/taskgraph/util/verify.py
Due: generate, upload, bugzilla-components, taskgraph-tests

No bug - Tagging 981ad1ab37934a94c4edac87ae142aee65da765e with FIREFOX_58_0b18_BUILD1, FIREFOX_58_0b18_RELEASE a=release CLOSED TREE
  .hgtags
Due: bugzilla-components

Fix devedition l10n, by setting update channel to aurora
  testing/mozharness/configs/single_locale/dev-mozilla-beta_devedition.py
  testing/mozharness/configs/single_locale/linux64_devedition.py
  testing/mozharness/configs/single_locale/linux_devedition.py
  testing/mozharness/configs/single_locale/macosx64_devedition.py
  testing/mozharness/configs/single_locale/win32_devedition.py
  testing/mozharness/configs/single_locale/win64_devedition.py
Due: generate, upload, bugzilla-components, mozharness

Bug 1425095 - part4: Add support of esr
  taskcluster/taskgraph/transforms/job/buildbot.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Bug 1425460 - deved release-notify-ship doesn't have the right deps r=aki
  taskcluster/ci/release-bouncer-aliases/kind.yml
  taskcluster/ci/release-version-bump/kind.yml
Due: bugzilla-components

bug 1425215 , bug 1417697 - version bump idempotency that supports relbranches. r=rail
  testing/mozharness/mozharness/mozilla/repo_manipulation.py
  testing/mozharness/scripts/release/postrelease_version_bump.py
Due: generate, upload, bugzilla-components, mozharness

Set mar_url correctly for devedition release history.
  taskcluster/taskgraph/actions/release_promotion.py
Due: generate, upload, bugzilla-components, taskgraph-tests

flake8 fix
  testing/mozharness/scripts/release/postrelease_version_bump.py
Due: generate, upload, bugzilla-components, mozharness

revenge of flake8 fix
  taskcluster/taskgraph/actions/release_promotion.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Use all locales again.
  browser/locales/l10n-changesets.json
  browser/locales/shipped-locales
Due: bugzilla-components

Version bump.
  browser/config/version_display.txt
Due: bugzilla-components
