Repository mozilla/gecko-projects: changes, and which Taskcluster tasks are due for each by the changed paths.
All: linux64-shell-haz/debug, generate, upload, taskgraph-tests, marionette-harness, mozbase, mozharness, mozlint, webidl-test/opt, macosx64-clang/opt, macosx64-clang-tidy/opt, macosx64-cctools-port/opt

Path conditions:
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  generate: any of: **/*.py, **/*.rst, tools/docs/**
  upload: any of: **/*.py, **/*.rst, tools/docs/**
  taskgraph-tests: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  marionette-harness: any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py
  mozbase: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness: any of: testing/mozharness/**
  mozlint: any of: python/mozlint/**, python/mach_commands.py
  webidl-test/opt: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  macosx64-clang/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-clang-tidy/opt: any of: build/clang-plugin/**, build/build-clang/**, taskcluster/scripts/misc/build-clang-tidy-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-cctools-port/opt: any of: taskcluster/scripts/misc/build-cctools-port-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py

add maple multilocale configs
  testing/mozharness/configs/multi_locale/maple_android-armv6.json
  testing/mozharness/configs/multi_locale/maple_android-x86.json
  testing/mozharness/configs/multi_locale/maple_android.json
Due: mozharness

add single_locale/maple
  testing/mozharness/configs/single_locale/maple.py
Due: generate, upload, mozharness

Fix invalid printf format compiler warning
  layout/base/nsLayoutUtils.cpp
Due: none

Add rebuild threshold based on modified frames
  layout/painting/RetainedDisplayListBuilder.cpp
Due: none

bug 1406517 - fennec release bouncer sub wip
  taskcluster/ci/release-bouncer-sub/kind.yml
  taskcluster/docs/kinds.rst
  taskcluster/taskgraph/target_tasks.py
  taskcluster/taskgraph/transforms/job/buildbot.py
Due: generate, upload, taskgraph-tests

bug 1406127 - add publish_fennec target task method.
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, taskgraph-tests

Remove duplicate nsLayoutUtils::MaybeCreateDisplayPortInFirstScrollFrameEncountered
  layout/base/nsLayoutUtils.cpp
Due: none

Temporarily commented out code to get rid of compiler warning
  layout/generic/nsFrame.cpp
Due: none

fix linting
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, taskgraph-tests

Only create wrap lists for non-stacking contexts
  layout/generic/nsFrame.cpp
Due: none

bug 1406127 - promote_fennec + publish_fennec actions
  taskcluster/taskgraph/actions/release_promotion.py
  taskcluster/taskgraph/util/attributes.py
Due: generate, upload, taskgraph-tests

reenable relpro on maple
  taskcluster/taskgraph/actions/release_promotion.py
Due: generate, upload, taskgraph-tests

add version_display.txt to sparse checkout
  build/sparse-profiles/taskgraph
Due: none

Make sure we build a wrap list whenever there might be multiple items
  layout/generic/nsFrame.cpp
Due: none

add firefox relpro actions + target_tasks_methods to fill out
  taskcluster/taskgraph/actions/release_promotion.py
  taskcluster/taskgraph/target_tasks.py
  taskcluster/taskgraph/util/scriptworker.py
Due: generate, upload, taskgraph-tests

bug 1406517 - task.payload.properties.build_number is an int
  taskcluster/taskgraph/transforms/job/buildbot.py
  taskcluster/taskgraph/transforms/task.py
  taskcluster/taskgraph/util/schema.py
Due: generate, upload, taskgraph-tests

fix publish_fennec
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, taskgraph-tests

bug 1406517 - fix bouncer sub task def props
  taskcluster/ci/release-bouncer-sub/kind.yml
  taskcluster/taskgraph/target_tasks.py
  taskcluster/taskgraph/transforms/job/buildbot.py
  taskcluster/taskgraph/transforms/task.py
  taskcluster/taskgraph/util/schema.py
Due: generate, upload, taskgraph-tests

bug 1406517 - fix
  taskcluster/taskgraph/transforms/job/buildbot.py
  taskcluster/taskgraph/util/scriptworker.py
Due: generate, upload, taskgraph-tests

try to fix candidate_fennec on maple
  taskcluster/taskgraph/util/scriptworker.py
Due: generate, upload, taskgraph-tests

possibly fix scopes issues with push-apk-breakpoint
  taskcluster/taskgraph/target_tasks.py
  taskcluster/taskgraph/util/scriptworker.py
Due: generate, upload, taskgraph-tests

Bug 1407637 - Fennec mark release as shipped in-tree task
  taskcluster/ci/release-mark-as-shipped/kind.yml
  taskcluster/docs/kinds.rst
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, taskgraph-tests

Bug 1407656 - Fennec bouncer aliases in-tree task
  taskcluster/ci/release-bouncer-aliases/kind.yml
  taskcluster/docs/kinds.rst
  taskcluster/taskgraph/target_tasks.py
  taskcluster/taskgraph/transforms/job/buildbot.py
  taskcluster/taskgraph/transforms/task.py
  taskcluster/taskgraph/util/schema.py
Due: generate, upload, taskgraph-tests

bug 1407817 - add maple fennec configs. r=rail
  testing/mozharness/configs/releases/dev_postrelease_fennec_beta.py
  testing/mozharness/configs/releases/dev_postrelease_fennec_release.py
  testing/mozharness/configs/releases/postrelease_fennec_beta.py
  testing/mozharness/configs/releases/postrelease_fennec_release.py
  testing/mozharness/configs/single_locale/maple_android-api-16.py
Due: generate, upload, mozharness

Bug 1407818 - Fennec uptake monitoring in-tree task
  taskcluster/ci/release-uptake-monitoring/kind.yml
  taskcluster/docs/kinds.rst
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, taskgraph-tests

Backout WrapInWrapList changes for now
  layout/generic/nsFrame.cpp
Due: none

Try to make WrapList creation unconditional, since we need this to get correct merging
  layout/generic/nsFrame.cpp
  layout/generic/nsIFrame.h
Due: none

Bug 1407299 - fennec version bump in-tree task
  taskcluster/ci/release-version-bump/kind.yml
  taskcluster/docs/kinds.rst
  taskcluster/docs/parameters.rst
  taskcluster/taskgraph/actions/release_promotion.py
  taskcluster/taskgraph/parameters.py
  taskcluster/taskgraph/target_tasks.py
  taskcluster/taskgraph/transforms/job/buildbot.py
Due: generate, upload, taskgraph-tests

Backed out changeset f6280d70de3b
  taskcluster/ci/release-version-bump/kind.yml
  taskcluster/docs/kinds.rst
  taskcluster/docs/parameters.rst
  taskcluster/taskgraph/actions/release_promotion.py
  taskcluster/taskgraph/parameters.py
  taskcluster/taskgraph/target_tasks.py
  taskcluster/taskgraph/transforms/job/buildbot.py
Due: generate, upload, taskgraph-tests

Add layout.display-list.rebuild-frame-limit
  gfx/thebes/gfxPrefs.h
  layout/base/nsLayoutUtils.cpp
  layout/painting/RetainedDisplayListBuilder.cpp
  layout/painting/RetainedDisplayListBuilder.h
  modules/libpref/init/all.js
Due: none

Bug 1407299 - fennec version bump in-tree task
  taskcluster/ci/release-version-bump/kind.yml
  taskcluster/docs/kinds.rst
  taskcluster/taskgraph/actions/release_promotion.py
  taskcluster/taskgraph/target_tasks.py
  taskcluster/taskgraph/util/scriptworker.py
Due: generate, upload, taskgraph-tests

typo fix
  taskcluster/taskgraph/actions/release_promotion.py
Due: generate, upload, taskgraph-tests

flake8 fix
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, taskgraph-tests

Convert WeakFrame to nsIFrame* earlier
  layout/painting/RetainedDisplayListBuilder.cpp
  layout/painting/RetainedDisplayListBuilder.h
Due: none

Bug 1409577 - Add static indexes to decision task
  .taskcluster.yml
Due: none

Bug 1405396 - Build with Gradle by default; turn Bg (Gradle) into Bng (non-Gradle). r=maliu
  mobile/android/config/mozconfigs/android-api-16-frontend/nightly
  mobile/android/config/mozconfigs/android-api-16-gradle/nightly
  mobile/android/config/mozconfigs/common
  mobile/android/config/tooltool-manifests/android-frontend/releng.manifest
  mobile/android/config/tooltool-manifests/android-gradle-dependencies/releng.manifest
  taskcluster/ci/build/android-stuff.yml
  taskcluster/ci/build/android.yml
  taskcluster/ci/l10n/kind.yml
  taskcluster/ci/nightly-l10n/kind.yml
  taskcluster/docker/rust-build/splat_rust.py
  testing/mozharness/configs/builds/releng_base_android_64_builds.py
  testing/mozharness/configs/builds/releng_sub_android_configs/64_api_16_gradle.py
  testing/mozharness/configs/builds/releng_sub_android_configs/64_api_16_gradle_artifact.py
Due: generate, upload, taskgraph-tests, mozharness

STAGING - bug 1409609 - use dev scriptworker pools
  taskcluster/ci/push-apk/kind.yml
  taskcluster/taskgraph/transforms/balrog.py
  taskcluster/taskgraph/transforms/beetmover.py
  taskcluster/taskgraph/transforms/beetmover_checksums.py
  taskcluster/taskgraph/transforms/beetmover_repackage.py
  taskcluster/taskgraph/util/workertypes.py
Due: generate, upload, taskgraph-tests

STAGING - fix pushapk workerTypes
  taskcluster/ci/push-apk/kind.yml
  taskcluster/taskgraph/util/scriptworker.py
  taskcluster/taskgraph/util/workertypes.py
Due: generate, upload, taskgraph-tests

Bug 1405396 - Pre: Set file.encoding=utf-8 for GeckoView packaging. r=maliu
  mobile/android/mach_commands.py
Due: generate, upload

STAGING - beetmover-dev
  taskcluster/taskgraph/transforms/beetmover.py
  taskcluster/taskgraph/transforms/beetmover_checksums.py
  taskcluster/taskgraph/transforms/beetmover_repackage.py
  taskcluster/taskgraph/util/workertypes.py
Due: generate, upload, taskgraph-tests
