Repository mozilla/gecko-projects: changes, and which Taskcluster tasks are due for each by the changed paths.
All: linux64-shell-haz/debug, generate, upload, bugzilla-components, taskgraph-tests, marionette-harness, mozbase, mozharness, mozlint, mochitest-harness, mozversioncontrol, reftest-harness, webidl-test/opt, macosx64-clang/opt, macosx64-clang-tidy/opt, macosx64-cctools-port/opt

Path conditions:
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  generate: any of: **/*.py, **/*.rst, tools/docs/**
  upload: any of: **/*.py, **/*.rst, tools/docs/**
  bugzilla-components: any of: **
  taskgraph-tests: (any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py) or (any of: config/mozunit.py, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py)
  marionette-harness: (any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py) or (any of: config/mozunit.py, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt)
  mozbase: (any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py) or (any of: config/mozunit.py, python/mach_commands.py, testing/mozbase/**)
  mozharness: (any of: testing/mozharness/**) or (any of: config/mozunit.py, python/mach_commands.py, testing/mozharness/**)
  mozlint: (any of: python/mozlint/**, python/mach_commands.py) or (any of: config/mozunit.py, python/mach_commands.py, python/mozlint/**)
  mochitest-harness: any of: config/mozunit.py, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/prefs_general.js
  mozversioncontrol: any of: config/mozunit.py, python/mach_commands.py, python/mozversioncontrol/**
  reftest-harness: any of: config/mozunit.py, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  webidl-test/opt: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  macosx64-clang/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-clang-tidy/opt: any of: build/clang-plugin/**, build/build-clang/**, taskcluster/scripts/misc/build-clang-tidy-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-cctools-port/opt: any of: taskcluster/scripts/misc/build-cctools-port-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py

Bug 1422599 - switch in-tree to use stage bouncer to dedicated RelEng instance. r=rail a=release DONTBUILD
  taskcluster/ci/release-bouncer-aliases/kind.yml
  taskcluster/ci/release-uptake-monitoring/kind.yml
Due: bugzilla-components

add devedition to l10n-changesets
  browser/locales/l10n-changesets.json
  testing/mozharness/configs/l10n_bumper/mozilla-beta.py
  testing/mozharness/configs/l10n_bumper/mozilla-central.py
Due: generate, upload, bugzilla-components, mozharness

Add dev mozharness configs for devedition & fix beta dev updates config.
  testing/mozharness/configs/releases/dev_bouncer_firefox_devedition.py
  testing/mozharness/configs/releases/dev_updates_firefox_devedition.py
Due: generate, upload, bugzilla-components, mozharness

Bug 1385401 - part 11: Make gp-string fail for testing purpose
  taskcluster/ci/google-play-strings/kind.yml
Due: bugzilla-components

Add beetmover-repackage dependency for updates builder.
  taskcluster/ci/release-updates-builder/kind.yml
Due: bugzilla-components

Backed out changeset be31c54593a7
  taskcluster/ci/google-play-strings/kind.yml
Due: bugzilla-components

reduce desktop locales to de, zh-TW
  browser/locales/l10n-changesets-full.json
  browser/locales/l10n-changesets-partial.json
Due: bugzilla-components

Fix mozharness config to use the correct username.
  testing/mozharness/configs/releases/dev_updates_firefox_beta.py
Due: generate, upload, bugzilla-components, mozharness

Bug 1419343 - fix subject/message in release-notify-* tasks to include shippable-product DONTBUILD
  taskcluster/ci/release-notify-promote/kind.yml
  taskcluster/ci/release-notify-push/kind.yml
  taskcluster/ci/release-notify-ship/kind.yml
Due: bugzilla-components

5 locales per chunk
  taskcluster/ci/nightly-l10n/kind.yml
Due: bugzilla-components

deved l10n fix
  taskcluster/taskgraph/transforms/beetmover.py
  taskcluster/taskgraph/transforms/gecko_v2_whitelist.py
  taskcluster/taskgraph/transforms/l10n.py
Due: generate, upload, bugzilla-components, taskgraph-tests

clean up target tasks methods
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, bugzilla-components, taskgraph-tests

fix release-source shipping-{phase,product}
  taskcluster/ci/release-source/kind.yml
  taskcluster/ci/release-source/source.yml
Due: bugzilla-components

clean up target_tasks_methods.
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Use head_repository for snap generation because maple revs aren't in mozilla-unified
  taskcluster/ci/release-snap/kind.yml
Due: bugzilla-components

Sprinkle 'release-promotion: true' around to avoid S3 uploader jobs only meant for CI
  taskcluster/ci/release-buildbot-update-verify/kind.yml
  taskcluster/ci/release-updates-builder/kind.yml
  taskcluster/taskgraph/morph.py
Due: generate, upload, bugzilla-components, taskgraph-tests

get profiling back on in android nightly mozconfigs. DONTBUILD
  mobile/android/config/mozconfigs/android-aarch64/nightly
  mobile/android/config/mozconfigs/android-api-16-frontend/nightly
  mobile/android/config/mozconfigs/android-api-16-gradle-dependencies/nightly
  mobile/android/config/mozconfigs/android-api-16/nightly
  mobile/android/config/mozconfigs/android-x86/nightly
Due: bugzilla-components

Snap generation - fix dependencies, and staging host for en-US download DONTBUILD
  taskcluster/ci/release-snap/kind.yml
Due: bugzilla-components

bug 1417195 - add devedition balrog_props.json
  taskcluster/ci/build/linux.yml
Due: bugzilla-components

Set script_repo_revision properly for buildbot update verify.
  taskcluster/taskgraph/transforms/buildbot_update_verify.py
  taskcluster/taskgraph/transforms/job/buildbot.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Install 32-bit packages for update verify image, too.
  taskcluster/docker/update-verify/Dockerfile
Due: bugzilla-components

Remove now-outdated comments from update/final verify kinds. DONTBUILD
  taskcluster/ci/release-buildbot-update-verify/kind.yml
  taskcluster/ci/release-final-verify/kind.yml
  taskcluster/ci/release-secondary-final-verify/kind.yml
  taskcluster/ci/release-update-verify/kind.yml
Due: bugzilla-components

Trim shipped-locales to match other files. DONTBUILD
  browser/locales/shipped-locales
  taskcluster/ci/release-buildbot-update-verify/kind.yml
  taskcluster/ci/release-update-verify/kind.yml
  taskcluster/docs/kinds.rst
  taskcluster/taskgraph/transforms/buildbot_update_verify.py
Due: generate, upload, bugzilla-components, taskgraph-tests

bug 1423320: tc update verify should only retry on infra issues, not for test failures. r=rail
  taskcluster/ci/release-update-verify/kind.yml
Due: bugzilla-components

Switch to release signing to make update verify pass.
  taskcluster/taskgraph/util/scriptworker.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Bug 1416317 - followup notification fixes to bug 1412690
  taskcluster/ci/balrog/kind.yml
  taskcluster/ci/beetmover-cdns/kind.yml
  taskcluster/ci/release-binary-transparency/kind.yml
  taskcluster/ci/release-bouncer-aliases/kind.yml
  taskcluster/ci/release-bouncer-sub/kind.yml
  taskcluster/ci/release-final-verify/kind.yml
  taskcluster/ci/release-mark-as-shipped/kind.yml
  taskcluster/ci/release-notify-promote/kind.yml
  taskcluster/ci/release-notify-push/kind.yml
  taskcluster/ci/release-notify-ship/kind.yml
  taskcluster/ci/release-partner-repack/kind.yml
  taskcluster/ci/release-secondary-final-verify/kind.yml
  taskcluster/ci/release-snap/kind.yml
  taskcluster/ci/release-source/kind.yml
  taskcluster/ci/release-update-verify/kind.yml
  taskcluster/ci/release-updates-builder/kind.yml
  taskcluster/ci/release-uptake-monitoring/kind.yml
  taskcluster/ci/release-version-bump/kind.yml
  taskcluster/taskgraph/transforms/balrog.py
  taskcluster/taskgraph/transforms/beetmover_cdns.py
  taskcluster/taskgraph/transforms/task.py
Due: generate, upload, bugzilla-components, taskgraph-tests

fix beetmover non-deved windows l10n
  taskcluster/taskgraph/transforms/beetmover.py
Due: generate, upload, bugzilla-components, taskgraph-tests

lint fix
  taskcluster/taskgraph/transforms/task.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Bug 1385401 - part 12: Fix review comments
  taskcluster/ci/google-play-strings/kind.yml
  taskcluster/taskgraph/transforms/google_play_strings.py
  taskcluster/taskgraph/transforms/push_apk.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Bug 1413219 - fix beetmover-source to grab balrog_props from main build. r=aki
  taskcluster/ci/beetmover-source/kind.yml
  taskcluster/taskgraph/transforms/beetmover.py
  taskcluster/taskgraph/transforms/beetmover_source.py
Due: generate, upload, bugzilla-components, taskgraph-tests

fix linting
  taskcluster/ci/release-secondary-final-verify/kind.yml
  taskcluster/taskgraph/transforms/beetmover_source.py
Due: generate, upload, bugzilla-components, taskgraph-tests

remove extraneous task from push_firefox.
  taskcluster/taskgraph/actions/release_promotion.py
Due: generate, upload, bugzilla-components, taskgraph-tests

devedition partials
  taskcluster/ci/partials/kind.yml
Due: bugzilla-components

add fennec, devedition source tasks
  taskcluster/ci/release-source/source.yml
  taskcluster/taskgraph/transforms/beetmover_source.py
  taskcluster/taskgraph/transforms/gecko_v2_whitelist.py
Due: generate, upload, bugzilla-components, taskgraph-tests

add devedition/fennec source signing+beetmover
  taskcluster/ci/release-source/source.yml
  taskcluster/taskgraph/loader/build_signing.py
  taskcluster/taskgraph/transforms/beetmover.py
  taskcluster/taskgraph/transforms/gecko_v2_whitelist.py
Due: generate, upload, bugzilla-components, taskgraph-tests

get rid of extraneous/wrong shipping-product defs
  taskcluster/ci/beetmover-repackage/kind.yml
  taskcluster/ci/beetmover-source/kind.yml
  taskcluster/ci/partials-signing/kind.yml
  taskcluster/ci/release-source-signing/kind.yml
Due: bugzilla-components

Bug 1416317 - ramaining followup notification fixes to bug 1412690
  taskcluster/ci/beetmover-checksums/kind.yml
  taskcluster/ci/nightly-l10n/kind.yml
  taskcluster/taskgraph/transforms/beetmover_checksums.py
  taskcluster/taskgraph/transforms/job/__init__.py
  taskcluster/taskgraph/transforms/l10n.py
Due: generate, upload, bugzilla-components, taskgraph-tests

uptake monitoring devedition + push-to-releases firefox/devedition
  taskcluster/ci/beetmover-cdns/kind.yml
  taskcluster/ci/release-uptake-monitoring/kind.yml
Due: bugzilla-components

don't spam releng with emails on m-c or non-maple
  taskcluster/ci/balrog/kind.yml
  taskcluster/ci/beetmover-cdns/kind.yml
  taskcluster/ci/beetmover-checksums/kind.yml
  taskcluster/ci/nightly-l10n/kind.yml
  taskcluster/ci/release-binary-transparency/kind.yml
  taskcluster/ci/release-bouncer-aliases/kind.yml
  taskcluster/ci/release-bouncer-sub/kind.yml
  taskcluster/ci/release-final-verify/kind.yml
  taskcluster/ci/release-mark-as-shipped/kind.yml
  taskcluster/ci/release-notify-promote/kind.yml
  taskcluster/ci/release-notify-push/kind.yml
  taskcluster/ci/release-notify-ship/kind.yml
  taskcluster/ci/release-partner-repack/kind.yml
  taskcluster/ci/release-secondary-final-verify/kind.yml
  taskcluster/ci/release-snap/kind.yml
  taskcluster/ci/release-source/kind.yml
  taskcluster/ci/release-update-verify/kind.yml
  taskcluster/ci/release-updates-builder/kind.yml
  taskcluster/ci/release-uptake-monitoring/kind.yml
  taskcluster/ci/release-version-bump/kind.yml
Due: bugzilla-components

notify tasks for devedition+firefox
  taskcluster/ci/release-notify-promote/kind.yml
  taskcluster/ci/release-notify-push/kind.yml
  taskcluster/ci/release-notify-ship/kind.yml
Due: bugzilla-components
