Repository mozilla/gecko-projects: changes, and which Taskcluster tasks are due for each by the changed paths.
All: linux64-shell-haz/debug, generate, upload, bugzilla-components, taskgraph-tests, marionette-harness, mozbase, mozharness, mozlint, mochitest-harness, mozversioncontrol, reftest-harness, webidl-test/opt, macosx64-clang/opt, macosx64-clang-tidy/opt, macosx64-cctools-port/opt

Path conditions:
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  generate: any of: **/*.py, **/*.rst, tools/docs/**
  upload: any of: **/*.py, **/*.rst, tools/docs/**
  bugzilla-components: any of: **
  taskgraph-tests: (any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py) or (any of: config/mozunit.py, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py)
  marionette-harness: (any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py) or (any of: config/mozunit.py, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt)
  mozbase: (any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py) or (any of: config/mozunit.py, python/mach_commands.py, testing/mozbase/**)
  mozharness: (any of: testing/mozharness/**) or (any of: config/mozunit.py, python/mach_commands.py, testing/mozharness/**)
  mozlint: (any of: python/mozlint/**, python/mach_commands.py) or (any of: config/mozunit.py, python/mach_commands.py, python/mozlint/**)
  mochitest-harness: any of: config/mozunit.py, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/prefs_general.js
  mozversioncontrol: any of: config/mozunit.py, python/mach_commands.py, python/mozversioncontrol/**
  reftest-harness: any of: config/mozunit.py, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  webidl-test/opt: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  macosx64-clang/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-clang-tidy/opt: any of: build/clang-plugin/**, build/build-clang/**, taskcluster/scripts/misc/build-clang-tidy-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-cctools-port/opt: any of: taskcluster/scripts/misc/build-cctools-port-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py

STAGING PATCH DO NOT MERGE - force checksums-signing depsigning
  taskcluster/taskgraph/transforms/checksums_signing.py
Due: generate, upload, bugzilla-components, taskgraph-tests

STAGING ONLY fix flake8 DONTBUILD
  taskcluster/taskgraph/transforms/checksums_signing.py
Due: generate, upload, bugzilla-components, taskgraph-tests

bump versions manually, since the next push-to-releases would die on an existing 58.0b12 otherwise
  browser/config/version_display.txt
Due: bugzilla-components

Bug 1422599 - remove trailing slash in maple tuxedoServerUrl. r=aki DONTBUILD
  taskcluster/ci/release-bouncer-aliases/kind.yml
  taskcluster/ci/release-uptake-monitoring/kind.yml
Due: bugzilla-components

Bug 1423879 - fix platforms in upktake monitoring.
  taskcluster/ci/release-uptake-monitoring/kind.yml
Due: bugzilla-components

Re-enable buildbot update verify after it was accidentally disabled.
  taskcluster/ci/release-buildbot-update-verify/kind.yml
  taskcluster/ci/release-update-verify/kind.yml
  taskcluster/docs/kinds.rst
  taskcluster/taskgraph/transforms/buildbot_update_verify.py
Due: generate, upload, bugzilla-components, taskgraph-tests

STAGING ONLY DO NOT MERGE: update MAR_CHANNEL_ID so update verify can pass
  browser/confvars.sh
Due: bugzilla-components

Bug 1398805 - part 1, adding checksums builder
  taskcluster/ci/release-generate-checksums/kind.yml
  taskcluster/docs/kinds.rst
Due: generate, upload, bugzilla-components

Add notifications for buildbot update verify.
  taskcluster/ci/release-buildbot-update-verify/kind.yml
Due: bugzilla-components

Bug 1398805 - part 2, finish checksums builder.
  taskcluster/ci/post-beetmover-checksums-dummy/kind.yml
  taskcluster/ci/release-generate-checksums/kind.yml
  taskcluster/docs/kinds.rst
Due: generate, upload, bugzilla-components

Set ACCEPTED_MAR_CHANNEL_IDS for partial mar generation tasks for releases.
  taskcluster/taskgraph/transforms/partials.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Version bump.
  browser/config/version_display.txt
Due: bugzilla-components

Fix version bump moz configs by s,jamun,maple.
  testing/mozharness/configs/releases/dev_postrelease_firefox_beta.py
Due: generate, upload, bugzilla-components, mozharness

address readme review comments
  taskcluster/docs/attributes.rst
  taskcluster/docs/kinds.rst
Due: generate, upload, bugzilla-components

avoid using format() in the mozharness options for source readme
  taskcluster/ci/release-source/source.yml
  taskcluster/taskgraph/transforms/job/mozharness.py
  testing/mozharness/configs/builds/releng_sub_linux_configs/64_source.py
Due: generate, upload, bugzilla-components, taskgraph-tests, mozharness

address additional review comments
  taskcluster/taskgraph/transforms/release_updates.py
  taskcluster/taskgraph/transforms/task.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Bug 1423081 - follow-up quick fix in source mozconfigs.
  testing/mozharness/configs/builds/releng_sub_linux_configs/64_source.py
Due: generate, upload, bugzilla-components, mozharness

Fix devedition update verify buildbot update verify buildernames.
  taskcluster/taskgraph/transforms/buildbot_update_verify.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Make sure ACCEPTED_MAR_CHANNEL_IDS gets set for funsize on maple.
  taskcluster/taskgraph/transforms/partials.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Bug 1424245 - add mark as shipped task for Devedition. r=mtabara
  taskcluster/ci/release-mark-as-shipped/kind.yml
Due: bugzilla-components

Bug 1407285 - Manage more places with spaces in the filename r?bhearsum
  tools/update-packaging/common.sh
Due: bugzilla-components

Bug 1419084 - tcmigration per project scopes for release-snap kind
  taskcluster/ci/release-snap/kind.yml
  taskcluster/docker/firefox-snap/runme.sh
  taskcluster/taskgraph/transforms/release_snap.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Use devedition mozharness configs for devedition repacks.
  taskcluster/ci/nightly-l10n/kind.yml
Due: bugzilla-components

Fix accidental tuple.
  taskcluster/taskgraph/transforms/partials.py
Due: generate, upload, bugzilla-components, taskgraph-tests

fix devedition beetmover
  taskcluster/ci/beetmover-l10n/kind.yml
  taskcluster/ci/beetmover-repackage/kind.yml
  taskcluster/ci/beetmover/kind.yml
Due: bugzilla-components

fix devedition beetmover pt2
  taskcluster/ci/repackage-l10n/kind.yml
  taskcluster/taskgraph/transforms/beetmover_repackage.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Add devedition post-balrog and post-beetmover dummies.
  taskcluster/ci/post-balrog-dummy/kind.yml
  taskcluster/ci/post-beetmover-dummy/kind.yml
Due: bugzilla-components

stop overriding mozconfig in tc_{platform} (fix devedition l10n)
  testing/mozharness/configs/single_locale/tc_linux32.py
  testing/mozharness/configs/single_locale/tc_linux64.py
  testing/mozharness/configs/single_locale/tc_macosx64.py
  testing/mozharness/configs/single_locale/tc_win32.py
  testing/mozharness/configs/single_locale/tc_win64.py
Due: generate, upload, bugzilla-components, mozharness

fix mozconfig path for desktop l10n
  testing/mozharness/configs/single_locale/linux.py
  testing/mozharness/configs/single_locale/linux64.py
  testing/mozharness/configs/single_locale/linux64_devedition.py
  testing/mozharness/configs/single_locale/linux_devedition.py
  testing/mozharness/configs/single_locale/macosx64.py
  testing/mozharness/configs/single_locale/macosx64_devedition.py
  testing/mozharness/configs/single_locale/win32.py
  testing/mozharness/configs/single_locale/win32_devedition.py
  testing/mozharness/configs/single_locale/win64.py
  testing/mozharness/configs/single_locale/win64_devedition.py
Due: generate, upload, bugzilla-components, mozharness

fix devedition bm-r
  taskcluster/taskgraph/transforms/beetmover_repackage.py
Due: generate, upload, bugzilla-components, taskgraph-tests

fix flake8
  taskcluster/taskgraph/transforms/beetmover_repackage.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Automatic version bump. CLOSED TREE NO BUG a=release
  browser/config/version_display.txt
Due: bugzilla-components

No bug - Tagging cfbc9cadae52e9aed05eb5f745deb8411e84396a with FIREFOX_58_0b14_BUILD5, FIREFOX_58_0b14_RELEASE a=release CLOSED TREE
  .hgtags
Due: bugzilla-components

try to fix ship / push deps
  taskcluster/ci/release-notify-push/kind.yml
  taskcluster/taskgraph/transforms/release_deps.py
Due: generate, upload, bugzilla-components, taskgraph-tests

update relpro comment
  taskcluster/taskgraph/actions/release_promotion.py
Due: generate, upload, bugzilla-components, taskgraph-tests

update docs for target_tasks
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, bugzilla-components, taskgraph-tests

beta_tasks -> beta_release_tasks
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, bugzilla-components, taskgraph-tests

bm-r - _ to artifact_extra
  taskcluster/taskgraph/transforms/beetmover_repackage.py
Due: generate, upload, bugzilla-components, taskgraph-tests

remove devedition snap
  taskcluster/ci/release-snap/kind.yml
Due: bugzilla-components

address partner repack review comment
  taskcluster/taskgraph/transforms/partner_repack.py
Due: generate, upload, bugzilla-components, taskgraph-tests
