Repository mozilla/gecko-projects: changes, and which Taskcluster tasks are due for each by the changed paths.
All: linux64-shell-haz/debug, generate, upload, bugzilla-components, taskgraph-tests, marionette-harness, mozbase, mozharness, mozlint, mochitest-harness, mozversioncontrol, reftest-harness, webidl-test/opt, macosx64-clang/opt, macosx64-clang-tidy/opt, macosx64-cctools-port/opt

Path conditions:
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  generate: any of: **/*.py, **/*.rst, tools/docs/**
  upload: any of: **/*.py, **/*.rst, tools/docs/**
  bugzilla-components: any of: **
  taskgraph-tests: (any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py) or (any of: config/mozunit.py, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py)
  marionette-harness: (any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py) or (any of: config/mozunit.py, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt)
  mozbase: (any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py) or (any of: config/mozunit.py, python/mach_commands.py, testing/mozbase/**)
  mozharness: (any of: testing/mozharness/**) or (any of: config/mozunit.py, python/mach_commands.py, testing/mozharness/**)
  mozlint: (any of: python/mozlint/**, python/mach_commands.py) or (any of: config/mozunit.py, python/mach_commands.py, python/mozlint/**)
  mochitest-harness: any of: config/mozunit.py, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/prefs_general.js
  mozversioncontrol: any of: config/mozunit.py, python/mach_commands.py, python/mozversioncontrol/**
  reftest-harness: any of: config/mozunit.py, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  webidl-test/opt: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  macosx64-clang/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-clang-tidy/opt: any of: build/clang-plugin/**, build/build-clang/**, taskcluster/scripts/misc/build-clang-tidy-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-cctools-port/opt: any of: taskcluster/scripts/misc/build-cctools-port-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py

Bug 1417575 - fix balrog jobs workerType.
  taskcluster/taskgraph/transforms/balrog.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Backed out changeset 9ac7858294c2
  taskcluster/taskgraph/transforms/balrog.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Get rid of secondary channel stuff in update/final verify now, to simplify things.
  taskcluster/ci/release-buildbot-update-verify/kind.yml
  taskcluster/ci/release-final-verify/kind.yml
  taskcluster/ci/release-update-verify/kind.yml
  taskcluster/taskgraph/transforms/final_verify.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Make tc update verify depend on beetmover.
  taskcluster/ci/post-beetmover-dummy/kind.yml
  taskcluster/ci/release-update-verify/kind.yml
  taskcluster/taskgraph/transforms/release_deps.py
  taskcluster/taskgraph/transforms/reverse_chunk_deps.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Add beetmover dependencies to buildbot update verify.
  taskcluster/ci/release-buildbot-update-verify/kind.yml
  taskcluster/ci/release-update-verify/kind.yml
Due: bugzilla-components

Add balrog as an update verify dependency.
  taskcluster/ci/balrog/kind.yml
  taskcluster/ci/post-balrog-dummy/kind.yml
  taskcluster/ci/release-buildbot-update-verify/kind.yml
  taskcluster/ci/release-update-verify/kind.yml
  taskcluster/docs/kinds.rst
  taskcluster/taskgraph/transforms/balrog.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Backout shipping-product/phase for balrog kind, because it caused android jobs to end up in the firefox promote graph.
  taskcluster/ci/balrog/kind.yml
  taskcluster/ci/release-buildbot-update-verify/kind.yml
  taskcluster/ci/release-update-verify/kind.yml
  taskcluster/taskgraph/transforms/balrog.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Move final verify to publish phase.
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Finish backing out secondary channel update/final verify bits.
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Bug 1412836 - pushapk: Change dev worker into dep one
  taskcluster/ci/push-apk/kind.yml
Due: bugzilla-components

Automatic version bump. CLOSED TREE NO BUG a=release
  browser/config/version_display.txt
Due: bugzilla-components

No bug - Tagging 82188c2c42351c12f15dd1334b4b4e822f4a7075 with FENNEC_58_0b7_BUILD3, FENNEC_58_0b7_RELEASE a=release CLOSED TREE
  .hgtags
Due: bugzilla-components

Add plausible looking devedition entries for update & final verify.
  taskcluster/ci/release-buildbot-update-verify/kind.yml
  taskcluster/ci/release-final-verify/kind.yml
  taskcluster/ci/release-update-verify/kind.yml
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, bugzilla-components, taskgraph-tests

No bug - Tagging 0375747594d8b998cdfecbef70caaa31192ca11e with FENNEC_58_0b8_BUILD1, FENNEC_58_0b8_RELEASE a=release CLOSED TREE
  .hgtags
Due: bugzilla-components

Bug 1385401 - part 2: Fix google play string docker image
  taskcluster/ci/google-play-strings/kind.yml
Due: bugzilla-components

Fix platform attribute on devedition update verify tasks.
  taskcluster/ci/release-buildbot-update-verify/kind.yml
  taskcluster/ci/release-update-verify/kind.yml
Due: bugzilla-components

Rely on shipping-phase/product in target task for update/final verify instead of hardcoding kinds.
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Bug 1413219 - add firefox source task for in-tree release promotion r=aki, r=mtabara
  taskcluster/ci/beetmover-source/kind.yml
  taskcluster/ci/release-source-signing/kind.yml
  taskcluster/ci/release-source/kind.yml
  taskcluster/docs/kinds.rst
  taskcluster/taskgraph/loader/build_signing.py
  taskcluster/taskgraph/target_tasks.py
  taskcluster/taskgraph/transforms/beetmover.py
  taskcluster/taskgraph/transforms/signing.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Bug 1385401 - part 3: Stop using "job.using"
  taskcluster/ci/google-play-strings/kind.yml
  taskcluster/taskgraph/transforms/google_play_strings.py
Due: generate, upload, bugzilla-components, taskgraph-tests

No bug - Tagging f3612b1e87749cffdd3e2ef2c8efabd16dc0f977 with FENNEC_58_0b9_BUILD3, FENNEC_58_0b9_RELEASE a=release CLOSED TREE
  .hgtags
Due: bugzilla-components

Bug 1385401 - part 4: Create in-tree docker image
  taskcluster/ci/google-play-strings/kind.yml
  taskcluster/taskgraph/transforms/google_play_strings.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Bug 1385401 - part 5: Fixup missing Dockerfile
  taskcluster/docker/google-play-strings/Dockerfile
Due: bugzilla-components

Bug 1385401 - part 6: Fixup missing docker-image task
  taskcluster/ci/docker-image/kind.yml
Due: bugzilla-components

fix
  taskcluster/ci/release-notify-promote/kind.yml
Due: bugzilla-components

Bug 1385401 - part 7: Fixup bad path in docker-image
  taskcluster/docker/google-play-strings/Dockerfile
Due: bugzilla-components

route fix
  taskcluster/ci/release-notify-push/kind.yml
Due: bugzilla-components

fix mozconfigs
  browser/config/mozconfigs/linux32/nightly
  browser/config/mozconfigs/linux64/nightly
  browser/config/mozconfigs/macosx64/nightly
  browser/config/mozconfigs/win32/nightly
  browser/config/mozconfigs/win64/nightly
Due: bugzilla-components

Fix duplicated routes
  taskcluster/ci/release-notify-promote/kind.yml
Due: bugzilla-components

Bug 1385401 - part 8: Fix bad command in docker-image
  taskcluster/ci/google-play-strings/kind.yml
  taskcluster/docker/google-play-strings/Dockerfile
  taskcluster/taskgraph/transforms/google_play_strings.py
Due: generate, upload, bugzilla-components, taskgraph-tests

No bug - Tagging 0b8759b48197e64c902c8eef0d7857881f5c5cb9 with FENNEC_58_0b10_BUILD4, FENNEC_58_0b10_RELEASE a=release CLOSED TREE
  .hgtags
Due: bugzilla-components

No bug - Tagging a68df7643efe1fb593056591d4226ed818e04408 with FENNEC_58_0b10_BUILD3, FENNEC_58_0b10_RELEASE a=release CLOSED TREE
  .hgtags
Due: bugzilla-components

Bug 1385401 - part 9: Make google_play_strings.json optional
  taskcluster/taskgraph/transforms/google_play_strings.py
  taskcluster/taskgraph/transforms/push_apk.py
  taskcluster/taskgraph/transforms/task.py
Due: generate, upload, bugzilla-components, taskgraph-tests

No bug - Tagging 99ca066f05379952289f2e828b6ae70c9a320b58 with FENNEC_58_0b11_BUILD1, FENNEC_58_0b11_RELEASE a=release CLOSED TREE
  .hgtags
Due: bugzilla-components

add maple branch specifics
  testing/mozharness/configs/builds/branch_specifics.py
Due: generate, upload, bugzilla-components, mozharness

remove allow_kinds
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, bugzilla-components, taskgraph-tests

fix flake8
  taskcluster/taskgraph/target_tasks.py
  taskcluster/taskgraph/transforms/task.py
Due: generate, upload, bugzilla-components, taskgraph-tests
