Repository mozilla/gecko-projects: changes, and which Taskcluster tasks are due for each by the changed paths.
All: linux64-shell-haz/debug, taskgraph-tests, marionette-harness, mozbase, mozharness, mozlint, webidl-test/opt, macosx64-clang/opt, macosx64-clang-tidy/opt, macosx64-cctools-port/opt

linux64-shell-haz/debug:
  description: JS Shell Hazard Analysis Linux
  index:
    product: firefox
    job-name:
      gecko-v2: shell-haz-debug
  treeherder:
    platform: linux64/debug
    symbol: SM-tc(H)
  run:
    using: hazard
    tooltool-manifest: browser/config/tooltool-manifests/linux64/hazard.manifest
  ...

taskgraph-tests:
  description: taskcluster/taskgraph unit tests
  platform: linux64/opt
  treeherder:
    symbol: py(tg)
    kind: test
    tier: 2
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
    mach: taskgraph python-tests
  ...

marionette-harness:
  description: testing/marionette/harness unit tests
  platform: linux64/opt
  treeherder:
    symbol: py(mnh)
    kind: test
    tier: 2
  worker-type:
    by-platform:
      linux64.*: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    by-platform:
      linux64.*:
        docker-image:
          in-tree: lint
  ...

mozbase:
  description: testing/mozbase unit tests
  platform:
  - linux64/opt
  treeherder:
    symbol: py(mb)
    kind: test
    tier: 2
  worker-type:
    by-platform:
      linux64.*: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    by-platform:
      linux64.*:
        docker-image:
          in-tree: lint
  ...

mozharness:
  description: mozharness integration tests
  platform: lint/opt
  treeherder:
    symbol: py(MH)
    kind: test
    tier: 2
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

mozlint:
  description: python/mozlint unit tests
  platform: linux64/opt
  treeherder:
    symbol: py(ml)
    kind: test
    tier: 2
  worker-type:
    by-platform:
      linux64.*: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    by-platform:
      linux64.*:
        docker-image:
          in-tree: lint
  ...

webidl-test/opt:
  description: WebIDL parser tests
  treeherder:
    symbol: Wp
    kind: test
    tier: 1
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
    mach: webidl-parser-test --verbose
  ...

macosx64-clang/opt:
  description: Clang toolchain build
  treeherder:
    kind: build
    platform: osx-10-10/opt
    symbol: Cc(Clang)
    tier: 1
  run:
    using: toolchain-script
    script: build-clang-macosx.sh
    tooltool-downloads: internal
  worker-type: aws-provisioner-v1/gecko-{level}-b-macosx64
  worker:
  ...

macosx64-clang-tidy/opt:
  description: Clang-tidy build
  index:
    product: static-analysis
    job-name: macosx64-clang-tidy
  treeherder:
    kind: build
    platform: osx-10-10/opt
    symbol: Cc(Clang-Tidy)
    tier: 1
  run:
    using: toolchain-script
    script: build-clang-tidy-macosx.sh
    tooltool-downloads: internal
  ...

possibly fix android l10n
  taskcluster/ci/nightly-l10n/kind.yml
Due: none

Restore more builder state between paints when we reuse it
  layout/base/nsLayoutUtils.cpp
  layout/painting/nsDisplayList.h
Due: none

Prune old items correctly when reusing the previous display list
  layout/base/nsLayoutUtils.cpp
Due: none

Fix build error
  layout/base/nsLayoutUtils.cpp
Due: none

Bug 1377180 - part3: Remove debug traces
  toolkit/modules/subprocess/test/xpcshell/test_subprocess.js
Due: none

Bug 1380628 - test_subprocess_environmentAppend fails on the new taskcluster windows instances r=kmag
  toolkit/modules/subprocess/test/xpcshell/test_subprocess.js
Due: none

Bug 1380293 - part 4: Sign setup-stub.exe only on nightlies
  taskcluster/taskgraph/transforms/build_signing.py
Due: taskgraph-tests

Bug 1380293 - part 5: Fix error
  taskcluster/taskgraph/transforms/build_signing.py
Due: taskgraph-tests

Don't upload setup and setup-stub from l10n if we're the x-test locale
  toolkit/mozapps/installer/upload-files.mk
Due: none

Bug 1379661: Enable mochitest-chrome and mochitest-clipboard tests on win7 via BBB
  taskcluster/ci/test/tests.yml
  taskcluster/taskgraph/transforms/job/mozharness_test.py
  taskcluster/taskgraph/transforms/tests.py
Due: taskgraph-tests

Bug 1379661: Get tests working on Win8 via BBB
  taskcluster/ci/test/test-platforms.yml
  taskcluster/ci/test/test-sets.yml
  taskcluster/ci/test/tests.yml
  taskcluster/taskgraph/transforms/job/mozharness_test.py
  taskcluster/taskgraph/transforms/tests.py
Due: taskgraph-tests

Bug 1379661: Fix win8 typo
  taskcluster/taskgraph/transforms/job/mozharness_test.py
Due: taskgraph-tests

Remove some divergence from m-c that doesn't belong on date now
  browser/config/mozconfigs/win64/repack
  taskcluster/taskgraph/target_tasks.py
  taskcluster/taskgraph/transforms/build.py
  taskcluster/taskgraph/transforms/build_signing.py
  taskcluster/taskgraph/transforms/tests.py
  taskcluster/taskgraph/util/scriptworker.py
  toolkit/mozapps/installer/upload-files.mk
Due: taskgraph-tests

Bug 1379661: Enable more win8 tests using BBB
  taskcluster/ci/test/test-sets.yml
  taskcluster/ci/test/tests.yml
Due: none

Bug 1379661: Enable complete set of win7 and win10 tests, and fix tiers
  taskcluster/ci/test/tests.yml
  taskcluster/taskgraph/transforms/tests.py
Due: taskgraph-tests

Make CI build-signing tier 1
  taskcluster/taskgraph/transforms/signing.py
Due: taskgraph-tests

Bug 1381508 - Change bouncer params for date
  browser/branding/nightly/branding.nsi
Due: none

Deactivate XPCShell on ASAN
  taskcluster/ci/test/tests.yml
Due: none

Bug 1380293 - part 6: Pass stub location within list
  taskcluster/taskgraph/transforms/build_signing.py
Due: taskgraph-tests

Whitespace Change to match with reviews
  taskcluster/taskgraph/transforms/signing.py
Due: taskgraph-tests

Bug 1379661: Fix up treeherder names
  taskcluster/taskgraph/transforms/tests.py
Due: taskgraph-tests

Bug 1379661: Make nightly windows tasks obey run-on-projects
  taskcluster/ci/build/macosx.yml
  taskcluster/ci/build/windows.yml
  taskcluster/ci/upload-symbols/kind.yml
  taskcluster/taskgraph/target_tasks.py
Due: taskgraph-tests

Add reftest infrastructure and (failing) test for retained display list building with transform prerendering
  layout/reftests/display-list/reftest.list
  layout/reftests/display-list/retained-dl-prerender-transform-1-ref.html
  layout/reftests/display-list/retained-dl-prerender-transform-1.html
  layout/tools/reftest/reftest-content.js
  layout/tools/reftest/reftest.jsm
Due: none

Make sure we trigger building for offscreen items within a prerendered transform
  layout/base/nsLayoutUtils.cpp
  layout/generic/nsFrame.cpp
Due: none

Remove frames from the will-change budget when we build display items from them a second time
  layout/generic/nsFrame.cpp
  layout/generic/nsIFrame.h
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
Due: none

Only use the override dirty region for stacking contexts if there weren't any invalidated ancestor frames
  layout/generic/nsFrame.cpp
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
Due: none

Don't upload l10n setup{,-stub}.exe files if en-US x-test or no locale passed...
  toolkit/mozapps/installer/upload-files.mk
Due: none

Bug 1356240: add reftest-gpu for win7
  taskcluster/ci/test/test-sets.yml
  taskcluster/ci/test/tests.yml
  taskcluster/taskgraph/try_option_syntax.py
Due: taskgraph-tests

No bug - Disable MOZ_PHOTON_PREFERENCES for Cedar
  toolkit/moz.configure
Due: none

fix nightly buildid
  testing/mozharness/configs/taskcluster_nightly.py
Due: mozharness

not sure why is_automation gets unset. forcing the issue
  testing/mozharness/configs/taskcluster_nightly.py
  testing/mozharness/mozharness/mozilla/building/buildbase.py
Due: mozharness

another buildid fix for win
  testing/mozharness/mozharness/mozilla/building/buildbase.py
Due: mozharness

nightly_desktop hook
  .cron.yml
  taskcluster/taskgraph/target_tasks.py
Due: taskgraph-tests

fix
  taskcluster/taskgraph/target_tasks.py
Due: taskgraph-tests

avoid duplicate tasks.
  taskcluster/taskgraph/target_tasks.py
Due: taskgraph-tests

fix nightly_desktop beetmover scopes
  taskcluster/taskgraph/util/scriptworker.py
Due: taskgraph-tests

Disable Photon-only browser_aboutStopReload.js test.
  browser/base/content/test/about/browser.ini
Due: none

Bug 1383852: Switch Windows debug reftest-gpu tests to use BBB r=Callek
  taskcluster/ci/test/tests.yml
  taskcluster/taskgraph/transforms/job/mozharness_test.py
Due: taskgraph-tests

Bug 1383257 - Don't run gtest on win pgo (it permafails both in tc and buildbot). r=kmoir for: Land changes to flip windows nightlies on, and to tier 1 on central
  taskcluster/ci/test/tests.yml
Due: none

Bug 1383257 - Marionette is green, so doesn't need to be tier 3. r=kmoir for: Land changes to flip windows nightlies on, and to tier 1 on central
  taskcluster/ci/test/tests.yml
Due: none

Path conditions:
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  taskgraph-tests: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  marionette-harness: any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py
  mozbase: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness: any of: testing/mozharness/**
  mozlint: any of: python/mozlint/**, python/mach_commands.py
  webidl-test/opt: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  macosx64-clang/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-clang-tidy/opt: any of: build/clang-plugin/**, build/build-clang/**, taskcluster/scripts/misc/build-clang-tidy-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-cctools-port/opt: any of: taskcluster/scripts/misc/build-cctools-port-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
