Repository mozilla/gecko-projects: changes, and which Taskcluster tasks are due for each by the changed paths.
All: linux64-shell-haz/debug, generate, upload, taskgraph-tests, marionette-harness, mozbase, mozharness, mozlint, webidl-test/opt, macosx64-clang/opt, macosx64-clang-tidy/opt, macosx64-cctools-port/opt

Path conditions:
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  generate: any of: **/*.py, **/*.rst, tools/docs/**
  upload: any of: **/*.py, **/*.rst, tools/docs/**
  taskgraph-tests: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  marionette-harness: any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py
  mozbase: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness: any of: testing/mozharness/**
  mozlint: any of: python/mozlint/**, python/mach_commands.py
  webidl-test/opt: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  macosx64-clang/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-clang-tidy/opt: any of: build/clang-plugin/**, build/build-clang/**, taskcluster/scripts/misc/build-clang-tidy-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-cctools-port/opt: any of: taskcluster/scripts/misc/build-cctools-port-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py

Bug 1405396 - Post: Run geckoview tests on all but non-Gradle Android builds. r=gbrown
  taskcluster/ci/test/test-sets.yml
Due: none

back out e37f6c1bbcf0
  taskcluster/taskgraph/transforms/beetmover.py
  taskcluster/taskgraph/transforms/beetmover_checksums.py
  taskcluster/taskgraph/transforms/beetmover_repackage.py
  taskcluster/taskgraph/util/workertypes.py
Due: generate, upload, taskgraph-tests

turn off fennec single locale
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, taskgraph-tests

start populating publish_fennec previous_graph_kinds
  taskcluster/taskgraph/actions/release_promotion.py
Due: generate, upload, taskgraph-tests

retry killing android nightly-l10n
  taskcluster/ci/nightly-l10n/kind.yml
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, taskgraph-tests

stop building android nightlies on push
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, taskgraph-tests

really stop building android nightlies on push
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, taskgraph-tests

fix
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, taskgraph-tests

reenable dep android builds
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, taskgraph-tests

gah
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, taskgraph-tests

Bug 1409371 - fennec per task notifications
  taskcluster/ci/release-bouncer-aliases/kind.yml
  taskcluster/ci/release-bouncer-sub/kind.yml
  taskcluster/ci/release-mark-as-shipped/kind.yml
  taskcluster/ci/release-uptake-monitoring/kind.yml
  taskcluster/ci/release-version-bump/kind.yml
  taskcluster/taskgraph/transforms/job/buildbot.py
  taskcluster/taskgraph/transforms/task.py
Due: generate, upload, taskgraph-tests

Bug 1405396 - Post: Make it easier to debug l10n builds. r=maliu
  mobile/android/app/build.gradle
  taskcluster/ci/build/android.yml
Due: none

Bug 1410521 - add release-bouncer-sub to publish_fennec's previous_graph_kinds
  taskcluster/taskgraph/actions/release_promotion.py
Due: generate, upload, taskgraph-tests

Bug 1405396 - Pre: Configure geckoview test for x86. r=gbrown
  taskcluster/ci/test/misc.yml
  testing/mozharness/configs/android/androidx86.py
Due: generate, upload, mozharness

bug 1411427 - beetmover cdns.
  taskcluster/ci/beetmover-cdns/kind.yml
  taskcluster/docs/kinds.rst
  taskcluster/taskgraph/actions/release_promotion.py
  taskcluster/taskgraph/target_tasks.py
  taskcluster/taskgraph/transforms/beetmover_cdns.py
  taskcluster/taskgraph/transforms/task.py
  taskcluster/taskgraph/util/scriptworker.py
Due: generate, upload, taskgraph-tests

Rewrite how we deal with nested FrameProperties
  layout/base/FrameProperties.h
  layout/painting/nsDisplayList.h
Due: none

Clip TopLayer display items to the visible rect, not the dirty rect
  layout/generic/ViewportFrame.cpp
Due: none

Try reverting the nsSubDocumentFrame canvas background color change
  layout/generic/nsSubDocumentFrame.cpp
Due: none

Bug 1411468 - Make display marker able to cross documents. r=mattwoodrow
  layout/generic/nsSimplePageSequenceFrame.cpp
  layout/painting/RetainedDisplayListBuilder.cpp
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
Due: none

various publish_fennec fixes
  taskcluster/ci/beetmover-cdns/kind.yml
  taskcluster/taskgraph/actions/release_promotion.py
  taskcluster/taskgraph/transforms/task.py
Due: generate, upload, taskgraph-tests

Bug 1411860 - Create nsDisplaySubDocument unconditionally. r=mattwoodrow
  layout/generic/nsSubDocumentFrame.cpp
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
Due: none

Bug 1411886 - Rebuild the dependent frame's display items in retained display list mode. r=mattwoodrow
  layout/painting/RetainedDisplayListBuilder.cpp
Due: none

beetmover-cdns mobile->fennec
  taskcluster/ci/beetmover-cdns/kind.yml
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, taskgraph-tests

58.0b1 to work around push-to-cdns existing releases dir
  browser/config/version.txt
  browser/config/version_display.txt
Due: none

Automatic version bump. CLOSED TREE NO BUG a=release
  browser/config/version_display.txt
Due: none

No bug - Tagging 0106bb2fcf5e6a3dd2ac958eb0e0b9e956e921fa with FENNEC_58_0b1_BUILD1, FENNEC_58_0b1_RELEASE a=release CLOSED TREE
  .hgtags
Due: none

release-version-bump: add beetmover-cdns dependency
  taskcluster/ci/release-version-bump/kind.yml
  taskcluster/taskgraph/transforms/release_deps.py
Due: generate, upload, taskgraph-tests

Bug 1411261 - fennec release driver emails
  taskcluster/ci/release-bouncer-aliases/kind.yml
  taskcluster/ci/release-bouncer-sub/kind.yml
  taskcluster/ci/release-mark-as-shipped/kind.yml
  taskcluster/ci/release-notify-promote/kind.yml
  taskcluster/ci/release-notify-publish/kind.yml
  taskcluster/ci/release-uptake-monitoring/kind.yml
  taskcluster/ci/release-version-bump/kind.yml
  taskcluster/docs/kinds.rst
  taskcluster/taskgraph/target_tasks.py
  taskcluster/taskgraph/transforms/job/__init__.py
  taskcluster/taskgraph/transforms/job/buildbot.py
  taskcluster/taskgraph/transforms/task.py
Due: generate, upload, taskgraph-tests

more dependencies: bouncer aliases, notify publish, uptake monitoring
  taskcluster/ci/push-apk/kind.yml
  taskcluster/ci/release-bouncer-aliases/kind.yml
  taskcluster/ci/release-notify-publish/kind.yml
  taskcluster/ci/release-uptake-monitoring/kind.yml
  taskcluster/taskgraph/transforms/push_apk.py
  taskcluster/taskgraph/transforms/release_deps.py
Due: generate, upload, taskgraph-tests

bug 1318253 - reverse chunk deps. f=rail
  taskcluster/ci/post-beetmover-dummy/kind.yml
  taskcluster/docs/kinds.rst
  taskcluster/taskgraph/transforms/reverse_chunk_deps.py
Due: generate, upload, taskgraph-tests

add deps to the rest of the {promote_publish}_fennec tasks
  taskcluster/ci/beetmover-cdns/kind.yml
  taskcluster/ci/release-notify-promote/kind.yml
  taskcluster/taskgraph/actions/release_promotion.py
  taskcluster/taskgraph/transforms/beetmover_cdns.py
  taskcluster/taskgraph/transforms/beetmover_checksums.py
Due: generate, upload, taskgraph-tests

re-add bouncer configs from d72b09c9228c
  testing/mozharness/configs/releases/bouncer_fennec.py
  testing/mozharness/configs/releases/bouncer_fennec_beta.py
Due: generate, upload, mozharness

fix deps
  taskcluster/ci/beetmover-cdns/kind.yml
  taskcluster/ci/release-notify-promote/kind.yml
  taskcluster/taskgraph/target_tasks.py
  taskcluster/taskgraph/transforms/release_deps.py
Due: generate, upload, taskgraph-tests

weed out old-id
  taskcluster/taskgraph/transforms/release_deps.py
Due: generate, upload, taskgraph-tests

fix mark-as-shipped deps
  taskcluster/ci/release-mark-as-shipped/kind.yml
Due: none

really fix mark-as-shipped deps
  taskcluster/ci/release-mark-as-shipped/kind.yml
Due: none

No bug - Tagging 46c7ef0ca305f5c523182bb9245cdf4ce6bfa296 with FENNEC_58_0b2_BUILD5, FENNEC_58_0b2_RELEASE a=release CLOSED TREE
  .hgtags
Due: none

No bug - Tagging 4c94ff6c38a69aa88964c97e5663b89da0706ebd with FENNEC_58_0b3_BUILD1, FENNEC_58_0b3_RELEASE a=release CLOSED TREE
  .hgtags
Due: none
