Repository mozilla/gecko-projects: changes, and which Taskcluster tasks are due for each by the changed paths.
All: linux64-shell-haz/debug, doc-generate, doc-upload, taskgraph-tests, marionette-harness, mozbase, mozharness, mozlint, webidl-test/opt, macosx64-clang/opt, macosx64-clang-tidy/opt, macosx64-cctools-port/opt

Path conditions:
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  doc-generate: any of: **/*.py, **/*.rst, tools/docs/**
  doc-upload: any of: **/*.py, **/*.rst, tools/docs/**
  taskgraph-tests: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  marionette-harness: any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py
  mozbase: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness: any of: testing/mozharness/**
  mozlint: any of: python/mozlint/**, python/mach_commands.py
  webidl-test/opt: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  macosx64-clang/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-clang-tidy/opt: any of: build/clang-plugin/**, build/build-clang/**, taskcluster/scripts/misc/build-clang-tidy-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-cctools-port/opt: any of: taskcluster/scripts/misc/build-cctools-port-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py

Fix silly typo DONTBUILD
  taskcluster/taskgraph/create.py
Due: doc-generate, doc-upload, taskgraph-tests

Restore concurrenct setting DONTBUILD
  taskcluster/taskgraph/create.py
Due: doc-generate, doc-upload, taskgraph-tests

adjust runtime for decision task DONTBUILD
  .taskcluster.yml
Due: none

Experiment with a session per thread DONTBUILD
  taskcluster/taskgraph/create.py
Due: doc-generate, doc-upload, taskgraph-tests

Update partials beetmover handling to reduce number of tasks generated DONTBUILD
  taskcluster/ci/balrog/kind.yml
  taskcluster/ci/beetmover-partials/kind.yml
  taskcluster/ci/beetmover-repackage/kind.yml
  taskcluster/taskgraph/transforms/balrog.py
  taskcluster/taskgraph/transforms/beetmover_repackage.py
  taskcluster/taskgraph/transforms/partials.py
  taskcluster/taskgraph/transforms/partials_signing.py
Due: doc-generate, doc-upload, taskgraph-tests

Revert changes to session management DONTBUILD
  taskcluster/taskgraph/create.py
Due: doc-generate, doc-upload, taskgraph-tests

Experiment with different queue for task creation DONTBUILD
  taskcluster/taskgraph/create.py
Due: doc-generate, doc-upload, taskgraph-tests

Check for fully submitted dependencies DONTBUILD
  taskcluster/taskgraph/create.py
Due: doc-generate, doc-upload, taskgraph-tests

Don't spam query for job status DONTBUILD
  taskcluster/taskgraph/create.py
Due: doc-generate, doc-upload, taskgraph-tests

Only record RealDisplayItemData when we are retaining
  layout/base/nsLayoutUtils.cpp
  layout/generic/nsCanvasFrame.cpp
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
Due: none

Add missing negation r=matt
  layout/painting/nsDisplayList.h
Due: none

Restore original create.py DONTBUILD
  taskcluster/taskgraph/create.py
Due: doc-generate, doc-upload, taskgraph-tests

Scheduler submission from catlee DONTBUILD
  taskcluster/taskgraph/create.py
Due: doc-generate, doc-upload, taskgraph-tests

Make sure we remove RealDisplayItemData for StoreList
  layout/painting/nsDisplayList.h
Due: none

Backed out changeset 2fcc09a13dae
  layout/painting/nsDisplayList.h
Due: none

Remove some unnecessary differences between us and m-c
  layout/base/nsLayoutUtils.cpp
  layout/generic/TextOverflow.cpp
  layout/generic/nsGfxScrollFrame.cpp
  layout/painting/FrameLayerBuilder.cpp
  mfbt/SmallPointerArray.h
Due: none

Fix case where we could end up missing a call to EndFrame
  layout/base/nsLayoutUtils.cpp
Due: none

Avoid calling EndFrame() on deleted nsDisplayListBuilder
  layout/base/nsLayoutUtils.cpp
Due: none

Bug 1399795 - Recompute nsDisplayTransform bounds for 3D when updating the item bounds. r=mattwoodrow
  layout/painting/nsDisplayList.h
Due: none

Remove duplicated temporary items loop
  layout/painting/nsDisplayList.cpp
Due: none

Add logging for ComputeRebuildRegion
  layout/base/nsLayoutUtils.cpp
Due: none

Add area to the debug overlay when we rebuild the entire scrollframe
  layout/generic/nsGfxScrollFrame.cpp
Due: none

Don't invalidate display items when we schedule a paint for APZ focus updates
  layout/base/PresShell.cpp
Due: none

Add an option to use power-of-two buckets for display list builder arena allocations
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
Due: none

Move retained display list code into its own file
  layout/base/nsLayoutUtils.cpp
  layout/base/nsLayoutUtils.h
  layout/generic/nsFrame.cpp
  layout/painting/RetainedDisplayListBuilder.cpp
  layout/painting/RetainedDisplayListBuilder.h
  layout/painting/moz.build
  layout/painting/nsDisplayList.h
  layout/painting/nsImageRenderer.cpp
Due: none

Switch to just marking display items as invalid for animation changes to avoid a stylo bug
  dom/animation/KeyframeEffectReadOnly.cpp
Due: none

Move EnterPresShell calls to be closer to where we actually build the display list
  layout/base/nsLayoutUtils.cpp
  layout/painting/RetainedDisplayListBuilder.cpp
Due: none

Remove NS_SCROLLFRAME_INVALIDATE_CONTENTS_ON_SCROLL as it doesn't appear to be needed any more
  layout/generic/TextOverflow.cpp
  layout/generic/nsFrameStateBits.h
  layout/generic/nsGfxScrollFrame.cpp
Due: none

Invalidate items when we change if we need a layer for nsSubDocumentFrame
  layout/generic/nsSubDocumentFrame.cpp
  layout/generic/nsSubDocumentFrame.h
Due: none

Add extra logging for comparing full/partial display list build times
  layout/base/nsLayoutUtils.cpp
  layout/painting/RetainedDisplayListBuilder.cpp
  layout/painting/RetainedDisplayListBuilder.h
Due: none

Get rid of RealDisplayItemData
  layout/base/PresShell.cpp
  layout/generic/nsFrame.cpp
  layout/generic/nsIFrame.h
  layout/painting/RetainedDisplayListBuilder.cpp
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
Due: none

Add more comments and documentation for retained-dl
  layout/base/nsLayoutUtils.cpp
  layout/painting/RetainedDisplayListBuilder.cpp
  layout/painting/RetainedDisplayListBuilder.h
Due: none

Cleanup nsDisplayLayerEventRegions::Destroy()
  layout/painting/nsDisplayList.h
Due: none

Add missing parentheses
  layout/generic/nsFrame.cpp
Due: none

bug 1397552 - release promotion action.
  taskcluster/docs/parameters.rst
  taskcluster/taskgraph/actions/release_promotion.py
  taskcluster/taskgraph/actions/util.py
  taskcluster/taskgraph/decision.py
  taskcluster/taskgraph/generator.py
  taskcluster/taskgraph/parameters.py
Due: doc-generate, doc-upload, taskgraph-tests

Make nsDisplayBackgroundColor destructor virtual
  layout/painting/nsDisplayList.h
Due: none

Move some of the item tracking code around to fix nsDisplayPerspective's inner wrap list being missed
  layout/generic/nsFrame.cpp
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
Due: none

partial-update-generator -> funsize-update-generator
  taskcluster/docker/funsize-update-generator/Dockerfile
  taskcluster/docker/funsize-update-generator/Makefile
  taskcluster/docker/funsize-update-generator/README
  taskcluster/docker/funsize-update-generator/dep.pubkey
  taskcluster/docker/funsize-update-generator/nightly_sha1.pubkey
  taskcluster/docker/funsize-update-generator/nightly_sha384.pubkey
  taskcluster/docker/funsize-update-generator/release_sha1.pubkey
  taskcluster/docker/funsize-update-generator/release_sha384.pubkey
  taskcluster/docker/funsize-update-generator/requirements.txt
  taskcluster/docker/funsize-update-generator/runme.sh
  taskcluster/docker/funsize-update-generator/scripts/funsize.py
  taskcluster/docker/funsize-update-generator/scripts/mbsdiff_hook.sh
Due: doc-generate, doc-upload, taskgraph-tests

l10n bumper changes
  build/sparse-profiles/taskgraph
  taskcluster/ci/l10n/kind.yml
  taskcluster/ci/nightly-l10n/kind.yml
  taskcluster/taskgraph/transforms/l10n.py
  testing/mozharness/configs/l10n_bumper/jamun.py
  testing/mozharness/configs/l10n_bumper/mozilla-beta.py
  testing/mozharness/configs/l10n_bumper/mozilla-central.py
  testing/mozharness/scripts/l10n_bumper.py
Due: doc-generate, doc-upload, taskgraph-tests, mozharness

hg add & hg rm
  browser/locales/l10n-changesets.json
  testing/mozharness/configs/l10n_bumper/mozilla-aurora.py
Due: doc-generate, doc-upload, mozharness
