Repository mozilla/gecko-projects: changes, and which Taskcluster tasks are due for each by the changed paths.
All: linux64-shell-haz/debug, taskgraph-tests, marionette-harness, mozbase, mozharness, mozlint, webidl-test/opt, macosx64-clang/opt, macosx64-clang-tidy/opt, macosx64-cctools-port/opt

Path conditions:
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  taskgraph-tests: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  marionette-harness: any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py
  mozbase: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness: any of: testing/mozharness/**
  mozlint: any of: python/mozlint/**, python/mach_commands.py
  webidl-test/opt: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  macosx64-clang/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-clang-tidy/opt: any of: build/clang-plugin/**, build/build-clang/**, taskcluster/scripts/misc/build-clang-tidy-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-cctools-port/opt: any of: taskcluster/scripts/misc/build-cctools-port-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py

Add a missing nullpointer check
  layout/base/nsLayoutDebugger.cpp
Due: none

Bug 1383771 - part 3: Fix flake8 issue
  taskcluster/taskgraph/transforms/repackage.py
Due: taskgraph-tests

Bug 1383771 - part 4: Delete unused (and misleading) mozconfig
  testing/mozharness/configs/repackage/win32_signed.py
  testing/mozharness/configs/repackage/win64_signed.py
Due: mozharness

STAGING PATCH DO NOT MERGE - test widevine signing on dev
  taskcluster/taskgraph/transforms/signing.py
Due: taskgraph-tests

whitespace change for dep testing
  README.txt
Due: none

dep signing so we can also test nightly wv
  taskcluster/taskgraph/util/scriptworker.py
Due: taskgraph-tests

Bug 1383771 - we can't sign setup.exe or setup-stub.exe with widevine
  taskcluster/taskgraph/transforms/build_signing.py
Due: taskgraph-tests

Bug 1383771 - part 6: Make linux beetmover depend on repackages
  taskcluster/ci/beetmover-l10n/kind.yml
  taskcluster/ci/beetmover-repackage/kind.yml
  taskcluster/ci/beetmover/kind.yml
  taskcluster/ci/repackage-l10n/kind.yml
Due: none

Use correct frame for nsDisplayTableBackgroundImage bounds calculations
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
Due: none

Bug 1383771 - part 7: Make l10n repackage sign widevine
  taskcluster/taskgraph/transforms/build_signing.py
  taskcluster/taskgraph/transforms/nightly_l10n_signing.py
  taskcluster/taskgraph/transforms/repackage_signing.py
  taskcluster/taskgraph/util/signed_artifacts.py
Due: taskgraph-tests

Removed unused nsDisplayItem::mHasSavedState
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
Due: none

Bug 1383771 - part 8: Fix {locale} template in non-locale build
  taskcluster/taskgraph/util/signed_artifacts.py
Due: taskgraph-tests

point at depsigning pool
  taskcluster/taskgraph/transforms/signing.py
Due: taskgraph-tests

Bug 1383771 - part 9: Define upstream artifacts for linux beetmover_repackage
  taskcluster/taskgraph/transforms/beetmover_repackage.py
Due: taskgraph-tests

Move more tasks from EnterPresShell()/LeavePresShell() to EnterFrame()/EndFrame()
  layout/painting/nsDisplayList.cpp
Due: none

Toggle layout.display-list.retain to true (and false on Android)
  modules/libpref/init/all.js
Due: none

back out b28237b05041 and 62d307141ca5 - back to nightly signing
  README.txt
  taskcluster/taskgraph/util/scriptworker.py
Due: taskgraph-tests

allow for separate win32/win64 nightly hooks
  .cron.yml
  taskcluster/taskgraph/target_tasks.py
Due: taskgraph-tests

possibly fix date
  taskcluster/ci/nightly-l10n/kind.yml
  taskcluster/taskgraph/util/attributes.py
Due: taskgraph-tests

bug 1383771 - possibly fix mac repackage bustage
  taskcluster/taskgraph/transforms/repackage.py
Due: taskgraph-tests

import errno
  python/mozbuild/mozbuild/repackaging/dmg.py
Due: none

Make displaylist retaining reftests run only with the pref enabled
  layout/reftests/display-list/reftest.list
  layout/tools/reftest/reftest.jsm
Due: none

Bug 1383771 - part 12: Address review comments
  taskcluster/taskgraph/transforms/beetmover_repackage.py
  taskcluster/taskgraph/transforms/build_signing.py
  taskcluster/taskgraph/util/signed_artifacts.py
Due: taskgraph-tests

Store invalidated subdocument frames in the subdocument root
  layout/base/nsLayoutUtils.cpp
  layout/base/nsLayoutUtils.h
  layout/generic/nsFrame.cpp
Due: none

try 15 l10n chunks?
  taskcluster/ci/nightly-l10n/kind.yml
Due: none

Bug 1383771 - part 14: Remove funsize route on signing/Linux
  taskcluster/taskgraph/transforms/signing.py
Due: taskgraph-tests

bug 1389260 - locales per chunk
  taskcluster/ci/nightly-l10n/kind.yml
  taskcluster/taskgraph/transforms/l10n.py
Due: taskgraph-tests

bug 1389361 - test signingscript 3.0.3.dev1 on dev signing pool.
  taskcluster/taskgraph/transforms/signing.py
  taskcluster/taskgraph/util/scriptworker.py
Due: taskgraph-tests

back out 997587374507
  taskcluster/taskgraph/transforms/signing.py
  taskcluster/taskgraph/util/scriptworker.py
Due: taskgraph-tests

bug 1390266 - base linux l10n off of the signed task.
  taskcluster/ci/nightly-l10n/kind.yml
  taskcluster/taskgraph/transforms/l10n.py
Due: taskgraph-tests

Fix assertion in GetDisplayItemTypeFromKey()
  layout/painting/nsDisplayItemTypes.h
Due: none

Avoid creating temporaries when merging WeakFrame vectors
  layout/base/nsLayoutUtils.cpp
Due: none

back to signing-linux-dev
  taskcluster/taskgraph/transforms/signing.py
  taskcluster/taskgraph/util/scriptworker.py
Due: taskgraph-tests

Explicitly cast DisplayItemType to integer
  layout/base/nsLayoutUtils.cpp
Due: none

Reset mIsFrameSelected when reusing nsCharClipDisplayItem
  layout/generic/nsTextFrame.cpp
  layout/painting/nsDisplayList.h
Due: none

whitespace change for ease of viewing results. DONTBUILD
  README.txt
Due: none

back out 81c5b2475b82 and 1f4d31695e73
  README.txt
  taskcluster/taskgraph/transforms/signing.py
  taskcluster/taskgraph/util/scriptworker.py
Due: taskgraph-tests

Add nsDisplayItem::StyleFrame()
  layout/generic/TextOverflow.cpp
  layout/painting/nsDisplayList.h
Due: none
