Repository mozilla/gecko-projects: changes, and which Taskcluster tasks are due for each by the changed paths.
All: linux64-shell-haz/debug, generate, upload, taskgraph-tests, marionette-harness, mozbase, mozharness, mozlint, webidl-test/opt, macosx64-clang/opt, macosx64-clang-tidy/opt, macosx64-cctools-port/opt

Path conditions:
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  generate: any of: **/*.py, **/*.rst, tools/docs/**
  upload: any of: **/*.py, **/*.rst, tools/docs/**
  taskgraph-tests: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  marionette-harness: any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py
  mozbase: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness: any of: testing/mozharness/**
  mozlint: any of: python/mozlint/**, python/mach_commands.py
  webidl-test/opt: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  macosx64-clang/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-clang-tidy/opt: any of: build/clang-plugin/**, build/build-clang/**, taskcluster/scripts/misc/build-clang-tidy-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-cctools-port/opt: any of: taskcluster/scripts/misc/build-cctools-port-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py

no scheduled date nightlies; reduce date locales to 2
  .cron.yml
  browser/locales/l10n-changesets.json
Due: none

better set of default locales for date
  browser/locales/l10n-changesets.json
Due: none

Don't run MarkNeedsDisplayItemRebuild when we're not retaining
  layout/generic/nsFrame.cpp
Due: none

Skip recording dragging rect frames when not retaining, and optimize removal of modified rectangles
  layout/painting/nsDisplayList.cpp
Due: none

Optimize removal of EventRegions from deleted frames
  layout/painting/nsDisplayList.cpp
Due: none

Make some nsDisplayListBuilder methods const.
  layout/painting/nsDisplayList.h
Due: none

Simplify window drag region handling when display list is not retained.
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
Due: none

bug 1397552 - possibly fix relpro action. DONTBUILD
  taskcluster/taskgraph/actions/release_promotion.py
Due: generate, upload, taskgraph-tests

bug 1397552 - until we have `maple`, let's use mozilla_beta_tasks
  taskcluster/taskgraph/decision.py
Due: generate, upload, taskgraph-tests

bug 1397552 - fix target_tasks_method
  taskcluster/taskgraph/actions/release_promotion.py
Due: generate, upload, taskgraph-tests

desktop release promotion l10n
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, taskgraph-tests

fix
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, taskgraph-tests

fix flake8 DONTBUILD
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, taskgraph-tests

Bug 1393277 - Record information about action tasks to support cot p=bstack r=aki
  taskcluster/taskgraph/actions/registry.py
  taskcluster/taskgraph/actions/util.py
  taskcluster/taskgraph/transforms/task.py
Due: generate, upload, taskgraph-tests

fix parameter download
  taskcluster/taskgraph/actions/release_promotion.py
Due: generate, upload, taskgraph-tests

Remove heap allocated clip chains option
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
Due: none

Remove frame state bits for agrs/asrs
  layout/generic/nsIFrame.h
  layout/painting/nsDisplayList.h
Due: none

fix?
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, taskgraph-tests

build_platform isn't always set
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, taskgraph-tests

Bug 1400223 - Merge tasks added by action tasks into graphs used for subsequent tasks. p=bstack r=dustin
  taskcluster/docs/actions.rst
  taskcluster/taskgraph/actions/add_new_jobs.py
  taskcluster/taskgraph/actions/add_talos.py
  taskcluster/taskgraph/actions/mochitest_retrigger.py
  taskcluster/taskgraph/actions/registry.py
  taskcluster/taskgraph/actions/retrigger.py
  taskcluster/taskgraph/actions/run_missing_tests.py
  taskcluster/taskgraph/actions/util.py
  taskcluster/taskgraph/util/taskcluster.py
Due: generate, upload, taskgraph-tests

Add layout.display-list.build-twice to all.js
  modules/libpref/init/all.js
Due: none

allowlist for promotion task kinds, rather than blocklist
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, taskgraph-tests

bug 1397773 - do_not_optimize param, to allow for forcing funsize docker-image rebuilds
  taskcluster/docs/parameters.rst
  taskcluster/taskgraph/actions/release_promotion.py
  taskcluster/taskgraph/decision.py
  taskcluster/taskgraph/generator.py
  taskcluster/taskgraph/parameters.py
Due: generate, upload, taskgraph-tests

fix
  taskcluster/taskgraph/actions/release_promotion.py
Due: generate, upload, taskgraph-tests

bug 1403040 - use maple for staging. STAGING PATCH DO NOT LAND f=callek
  .cron.yml
  browser/branding/nightly/branding.nsi
  browser/config/mozconfigs/macosx64/debug
  browser/config/mozconfigs/macosx64/debug-asan
  browser/config/mozconfigs/macosx64/devedition
  browser/config/mozconfigs/macosx64/l10n-mozconfig
  browser/config/mozconfigs/macosx64/l10n-mozconfig-devedition
  browser/config/mozconfigs/macosx64/nightly
  browser/config/mozconfigs/macosx64/nightly-asan
  browser/confvars.sh
  mobile/android/branding/nightly/configure.sh
  taskcluster/ci/nightly-l10n/kind.yml
  taskcluster/ci/push-apk-breakpoint/kind.yml
  taskcluster/ci/push-apk/kind.yml
  taskcluster/taskgraph/util/scriptworker.py
  toolkit/mozapps/update/updater/moz.build
Due: generate, upload, taskgraph-tests

bug 1345619 - l10n-bumper - land until autoland merges into m-c
  browser/locales/l10n-changesets.json
  build/sparse-profiles/taskgraph
  mobile/locales/l10n-changesets.json
  taskcluster/ci/l10n/kind.yml
  taskcluster/ci/nightly-l10n/kind.yml
  taskcluster/taskgraph/transforms/l10n.py
  testing/mozharness/configs/l10n_bumper/jamun.py
  testing/mozharness/configs/l10n_bumper/mozilla-aurora.py
  testing/mozharness/configs/l10n_bumper/mozilla-beta.py
  testing/mozharness/configs/l10n_bumper/mozilla-central.py
  testing/mozharness/scripts/l10n_bumper.py
Due: generate, upload, taskgraph-tests, mozharness

bug 1403040 - use mozilla_beta_tasks for maple. STAGING PATCH DO NOT LAND
  taskcluster/taskgraph/decision.py
Due: generate, upload, taskgraph-tests

bug 1397552 - initial relpromo action.
  taskcluster/docs/parameters.rst
  taskcluster/taskgraph/actions/release_promotion.py
  taskcluster/taskgraph/actions/util.py
  taskcluster/taskgraph/decision.py
  taskcluster/taskgraph/generator.py
  taskcluster/taskgraph/parameters.py
Due: generate, upload, taskgraph-tests

bug 1397774 - allow for relpro target_tasks_method
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, taskgraph-tests

bug 1397773 - add funsize-balrog-submitter and beet-mover gecko-image tasks
  taskcluster/ci/docker-image/kind.yml
Due: none

Add more retained dl performance measuring code and skip some cases where partial rebuild is almost certainly slower
  layout/base/nsLayoutUtils.cpp
  layout/painting/RetainedDisplayListBuilder.cpp
  layout/painting/RetainedDisplayListBuilder.h
Due: none

bug 1397552 - address feedback comments to relpro action patch.
  taskcluster/docs/parameters.rst
  taskcluster/mach_commands.py
  taskcluster/taskgraph/actions/release_promotion.py
  taskcluster/taskgraph/decision.py
  taskcluster/taskgraph/generator.py
Due: generate, upload, taskgraph-tests

fix root_dir
  taskcluster/taskgraph/decision.py
  taskcluster/taskgraph/generator.py
Due: generate, upload, taskgraph-tests

back out f0cbfa36117d and ba81ef947756
  taskcluster/docs/parameters.rst
  taskcluster/mach_commands.py
  taskcluster/taskgraph/actions/release_promotion.py
  taskcluster/taskgraph/decision.py
  taskcluster/taskgraph/generator.py
Due: generate, upload, taskgraph-tests

Fix the dependent item crash
  layout/generic/nsFrame.cpp
Due: none

debug: print all parameters
  taskcluster/taskgraph/actions/release_promotion.py
Due: generate, upload, taskgraph-tests

Add logging for new and old display items
  layout/base/nsLayoutUtils.cpp
  layout/painting/RetainedDisplayListBuilder.cpp
  layout/painting/RetainedDisplayListBuilder.h
Due: none

fix - Parameters now takes **kwargs rather than a dict
  taskcluster/taskgraph/actions/release_promotion.py
Due: generate, upload, taskgraph-tests

bug 1397552 - address relpro action feedback comments.
  taskcluster/docs/parameters.rst
  taskcluster/mach_commands.py
  taskcluster/taskgraph/actions/release_promotion.py
  taskcluster/taskgraph/decision.py
  taskcluster/taskgraph/generator.py
Due: generate, upload, taskgraph-tests

try using dep scopes for now
  taskcluster/taskgraph/util/scriptworker.py
Due: generate, upload, taskgraph-tests
