Repository mozilla/gecko-projects: changes, and which Taskcluster tasks are due for each by the changed paths.
All: linux64-shell-haz/debug, generate, upload, bugzilla-components, taskgraph-tests, marionette-harness, mozbase, mozharness, mozlint, mochitest-harness, mozversioncontrol, reftest-harness, webidl-test/opt, macosx64-clang/opt, macosx64-clang-tidy/opt, macosx64-cctools-port/opt

linux64-shell-haz/debug:
  description: JS Shell Hazard Analysis Linux
  index:
    product: firefox
    job-name:
      gecko-v2: shell-haz-debug
  treeherder:
    platform: linux64/debug
    symbol: SM-tc(H)
  run:
    using: hazard
    tooltool-manifest: browser/config/tooltool-manifests/linux64/hazard.manifest
  ...

generate:
  description: Generate the Sphinx documentation
  platform: lint/opt
  treeherder:
    symbol: tc(Doc)
    kind: test
    tier: 1
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
    artifacts:
    - type: file
      name: public/docs.tar.gz
  ...

upload:
  description: Generate and upload the Sphinx documentation
  platform: lint/opt
  treeherder:
    symbol: tc(DocUp)
    kind: test
    tier: 3
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
  ...

bugzilla-components:
  description: Generate metadata about source files and Bugzilla
  treeherder:
    symbol: Bugzilla
  index:
    product: source
    job-name: source-bugzilla-info
  run:
    using: run-task
  ...

taskgraph-tests:
  description: taskcluster/taskgraph unit tests
  platform: linux64/opt
  treeherder:
    symbol: py(tg)
    kind: test
    tier: 2
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
    mach: taskgraph python-tests
  ...

marionette-harness:
  description: testing/marionette/harness unit tests
  platform: linux64/opt
  treeherder:
    symbol: py(mnh)
    kind: test
    tier: 2
  worker-type:
    by-platform:
      linux64.*: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    by-platform:
      linux64.*:
        docker-image:
          in-tree: lint
  ...

mozbase:
  description: testing/mozbase unit tests
  platform:
  - linux64/opt
  treeherder:
    symbol: py(mb)
    kind: test
    tier: 2
  worker-type:
    by-platform:
      linux64.*: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    by-platform:
      linux64.*:
        docker-image:
          in-tree: lint
  ...

mozharness:
  description: mozharness integration tests
  platform: lint/opt
  treeherder:
    symbol: py(MH)
    kind: test
    tier: 2
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

mozlint:
  description: python/mozlint unit tests
  platform: linux64/opt
  treeherder:
    symbol: py(ml)
    kind: test
    tier: 2
  worker-type:
    by-platform:
      linux64.*: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    by-platform:
      linux64.*:
        docker-image:
          in-tree: lint
  ...

Try harder to fix devedition partials.
  taskcluster/taskgraph/actions/release_promotion.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Fix flake8 errors.
  taskcluster/taskgraph/actions/release_promotion.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Use post-beetmover-dummy
  taskcluster/ci/release-updates-builder/kind.yml
Due: bugzilla-components

Fix dependencies for release-notify-promote.
  taskcluster/ci/release-notify-promote/kind.yml
Due: bugzilla-components

Add check for max dependencies
  taskcluster/taskgraph/__init__.py
  taskcluster/taskgraph/transforms/reverse_chunk_deps.py
  taskcluster/taskgraph/transforms/task.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Fix checksums dependency.
  taskcluster/taskgraph/transforms/beetmover_checksums.py
Due: generate, upload, bugzilla-components, taskgraph-tests

fix beetmover-cdns deps
  taskcluster/ci/beetmover-cdns/kind.yml
Due: bugzilla-components

set MAX_DEPENDENCIES to 99, since taskgraph.create can add an additional dep.
  taskcluster/taskgraph/__init__.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Automatic version bump. CLOSED TREE NO BUG a=release
  browser/config/version_display.txt
Due: bugzilla-components

No bug - Tagging 63c033e1ae9143209a6675846a8345ddf571a080 with FIREFOX_58_0b20_BUILD1, FIREFOX_58_0b20_RELEASE a=release CLOSED TREE
  .hgtags
Due: bugzilla-components

No bug - Tagging 63c033e1ae9143209a6675846a8345ddf571a080 with DEVEDITION_58_0b20_BUILD1, DEVEDITION_58_0b20_RELEASE a=release CLOSED TREE
  .hgtags
Due: bugzilla-components

No bug - Tagging 9573657ecdae4184a00d7b23faba1121934552dd with FIREFOX_58_0b21_BUILD4, FIREFOX_58_0b21_RELEASE a=release CLOSED TREE
  .hgtags
Due: bugzilla-components

No bug - Tagging 9573657ecdae4184a00d7b23faba1121934552dd with DEVEDITION_58_0b21_BUILD4, DEVEDITION_58_0b21_RELEASE a=release CLOSED TREE
  .hgtags
Due: bugzilla-components

fix fennec post-beetmover-dummy
  taskcluster/ci/post-beetmover-dummy/kind.yml
Due: bugzilla-components

fix fennec notify deps, part ii
  taskcluster/ci/post-beetmover-dummy/kind.yml
Due: bugzilla-components

No bug - Tagging 9c967c46592b82fe2d12d7776f58dee4d3a275be with FIREFOX_58_0b21_BUILD4, FIREFOX_58_0b21_RELEASE a=release CLOSED TREE
  .hgtags
Due: bugzilla-components

No bug - Tagging 9c967c46592b82fe2d12d7776f58dee4d3a275be with DEVEDITION_58_0b21_BUILD4, DEVEDITION_58_0b21_RELEASE a=release CLOSED TREE
  .hgtags
Due: bugzilla-components

bug 1398793: add support for cross platform update verify.
  taskcluster/ci/release-buildbot-update-verify/kind.yml
  taskcluster/ci/release-update-verify/kind.yml
  taskcluster/ci/release-updates-builder/kind.yml
  taskcluster/docs/kinds.rst
  taskcluster/taskgraph/transforms/buildbot_update_verify.py
  testing/mozharness/scripts/release/updates.py
Due: generate, upload, bugzilla-components, taskgraph-tests, mozharness

No bug - Tagging 4b4c8e633859cab3edea142261b81935ffef81e5 with FIREFOX_58_0b21_BUILD1, FIREFOX_58_0b21_RELEASE a=release CLOSED TREE
  .hgtags
Due: bugzilla-components

No bug - Tagging 4b4c8e633859cab3edea142261b81935ffef81e5 with DEVEDITION_58_0b21_BUILD1, DEVEDITION_58_0b21_RELEASE a=release CLOSED TREE
  .hgtags
Due: bugzilla-components

No bug - Tagging 9e791ec2d36115f0e248a51a4fb4f51445674b6b with DEVEDITION_58_0b22_BUILD1, DEVEDITION_58_0b22_RELEASE a=release CLOSED TREE
  .hgtags
Due: bugzilla-components

No bug - Tagging 9e791ec2d36115f0e248a51a4fb4f51445674b6b with FIREFOX_58_0b22_BUILD1, FIREFOX_58_0b22_RELEASE a=release CLOSED TREE
  .hgtags
Due: bugzilla-components

Use 500/500 for uid/gid to fix bug 1426445.
  taskcluster/docker/google-play-strings/Dockerfile
Due: bugzilla-components

Local changes to make birch act like mozilla-release.
  .cron.yml
  browser/branding/nightly/branding.nsi
  browser/config/mozconfigs/macosx64/debug
  browser/config/mozconfigs/macosx64/debug-asan
  browser/config/mozconfigs/macosx64/devedition
  browser/config/mozconfigs/macosx64/l10n-mozconfig
  browser/config/mozconfigs/macosx64/l10n-mozconfig-devedition
  browser/config/mozconfigs/macosx64/nightly
  browser/config/mozconfigs/macosx64/nightly-asan
  browser/config/mozconfigs/whitelist
  browser/confvars.sh
  taskcluster/ci/build/linux.yml
  taskcluster/ci/build/macosx.yml
  taskcluster/ci/build/windows.yml
  taskcluster/ci/nightly-l10n/kind.yml
  taskcluster/taskgraph/decision.py
  taskcluster/taskgraph/transforms/balrog.py
  taskcluster/taskgraph/transforms/beetmover.py
  taskcluster/taskgraph/transforms/beetmover_checksums.py
  taskcluster/taskgraph/transforms/beetmover_repackage.py
  taskcluster/taskgraph/transforms/checksums_signing.py
  taskcluster/taskgraph/transforms/partials.py
  taskcluster/taskgraph/util/scriptworker.py
  taskcluster/taskgraph/util/workertypes.py
Due: generate, upload, bugzilla-components, taskgraph-tests

1ug 1426445: Add sanity check that worker uid/gid is 500 in run-task; r?dustin,gps
  taskcluster/docker/recipes/run-task
Due: bugzilla-components

Bug 1426445: Add sanity check that worker uid/gid is 1000 in run-task; r?dustin,gps
  taskcluster/docker/debian-base/Dockerfile
  taskcluster/docker/google-play-strings/Dockerfile
  taskcluster/docker/recipes/run-task
  taskcluster/docker/update-verify/Dockerfile
  taskcluster/taskgraph/transforms/task.py
Due: generate, upload, bugzilla-components, taskgraph-tests

bug 1415981: migrate final verify in-tree -- set secondary final verify configs correctly for mozilla-release. DONTBUILD
  taskcluster/ci/release-secondary-final-verify/kind.yml
Due: bugzilla-components

Bump version to release version.
  browser/config/version.txt
  browser/config/version_display.txt
Due: bugzilla-components

Limit locales.
  browser/locales/l10n-changesets.json
  browser/locales/shipped-locales
Due: bugzilla-components

Add birch to list of release promotion projections.
  taskcluster/taskgraph/util/attributes.py
Due: generate, upload, bugzilla-components, taskgraph-tests

bug 1328719 - add task.extra.tasks_for
  .taskcluster.yml
Due: bugzilla-components

fix scope
  taskcluster/taskgraph/transforms/checksums_signing.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Add single locale mozharness config.
  testing/mozharness/configs/single_locale/birch.py
Due: generate, upload, bugzilla-components, mozharness

Pick up fix for broken rust version.
  taskcluster/ci/toolchain/windows.yml
  taskcluster/scripts/misc/repack_rust.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Import cross platform update verify work.
  taskcluster/ci/release-update-verify/kind.yml
  taskcluster/ci/release-updates-builder/kind.yml
  taskcluster/docs/kinds.rst
  testing/mozharness/scripts/release/updates.py
Due: generate, upload, bugzilla-components, mozharness

Fix tools repo, channel, and update/final verify configs on birch.
  taskcluster/ci/release-final-verify/kind.yml
  taskcluster/ci/release-secondary-final-verify/kind.yml
  taskcluster/ci/release-update-verify/kind.yml
Due: bugzilla-components

Remove removed files.
  taskcluster/ci/release-buildbot-update-verify/kind.yml
  taskcluster/taskgraph/transforms/buildbot_update_verify.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Path conditions:
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  generate: any of: **/*.py, **/*.rst, tools/docs/**
  upload: any of: **/*.py, **/*.rst, tools/docs/**
  bugzilla-components: any of: **
  taskgraph-tests: (any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py) or (any of: config/mozunit.py, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py)
  marionette-harness: (any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py) or (any of: config/mozunit.py, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt)
  mozbase: (any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py) or (any of: config/mozunit.py, python/mach_commands.py, testing/mozbase/**)
  mozharness: (any of: testing/mozharness/**) or (any of: config/mozunit.py, python/mach_commands.py, testing/mozharness/**)
  mozlint: (any of: python/mozlint/**, python/mach_commands.py) or (any of: config/mozunit.py, python/mach_commands.py, python/mozlint/**)
  mochitest-harness: any of: config/mozunit.py, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/prefs_general.js
  mozversioncontrol: any of: config/mozunit.py, python/mach_commands.py, python/mozversioncontrol/**
  reftest-harness: any of: config/mozunit.py, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  webidl-test/opt: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  macosx64-clang/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-clang-tidy/opt: any of: build/clang-plugin/**, build/build-clang/**, taskcluster/scripts/misc/build-clang-tidy-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-cctools-port/opt: any of: taskcluster/scripts/misc/build-cctools-port-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
