Repository mozilla/gecko-projects: changes, and which Taskcluster tasks are due for each by the changed paths.
All: linux64-shell-haz/debug, doc-generate, doc-upload, taskgraph-tests, marionette-harness, mozbase, mozharness, mozlint, webidl-test/opt, macosx64-clang/opt, macosx64-clang-tidy/opt, macosx64-cctools-port/opt

linux64-shell-haz/debug:
  description: JS Shell Hazard Analysis Linux
  index:
    product: firefox
    job-name:
      gecko-v2: shell-haz-debug
  treeherder:
    platform: linux64/debug
    symbol: SM-tc(H)
  run:
    using: hazard
    tooltool-manifest: browser/config/tooltool-manifests/linux64/hazard.manifest
  ...

doc-generate:
  description: Generate the Sphinx documentation
  platform: lint/opt
  treeherder:
    symbol: tc(Doc)
    kind: test
    tier: 1
  run-on-projects:
  - try
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
    artifacts:
    - type: file
  ...

doc-upload:
  description: Generate and upload the Sphinx documentation
  platform: lint/opt
  treeherder:
    symbol: tc(DocUp)
    kind: test
    tier: 3
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
  ...

taskgraph-tests:
  description: taskcluster/taskgraph unit tests
  platform: linux64/opt
  treeherder:
    symbol: py(tg)
    kind: test
    tier: 2
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
    mach: taskgraph python-tests
  ...

marionette-harness:
  description: testing/marionette/harness unit tests
  platform: linux64/opt
  treeherder:
    symbol: py(mnh)
    kind: test
    tier: 2
  worker-type:
    by-platform:
      linux64.*: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    by-platform:
      linux64.*:
        docker-image:
          in-tree: lint
  ...

mozbase:
  description: testing/mozbase unit tests
  platform:
  - linux64/opt
  treeherder:
    symbol: py(mb)
    kind: test
    tier: 2
  worker-type:
    by-platform:
      linux64.*: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    by-platform:
      linux64.*:
        docker-image:
          in-tree: lint
  ...

mozharness:
  description: mozharness integration tests
  platform: lint/opt
  treeherder:
    symbol: py(MH)
    kind: test
    tier: 2
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

mozlint:
  description: python/mozlint unit tests
  platform: linux64/opt
  treeherder:
    symbol: py(ml)
    kind: test
    tier: 2
  worker-type:
    by-platform:
      linux64.*: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    by-platform:
      linux64.*:
        docker-image:
          in-tree: lint
  ...

webidl-test/opt:
  description: WebIDL parser tests
  treeherder:
    symbol: Wp
    kind: test
    tier: 1
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
    mach: webidl-parser-test --verbose
  ...

Handle clipping of nsDisplayTextOverflowMarker properly
  layout/generic/nsGfxScrollFrame.cpp
Due: none

try to fix android api 16
  taskcluster/ci/build/android-stuff.yml
  taskcluster/taskgraph/transforms/gecko_v2_whitelist.py
Due: doc-generate, doc-upload, taskgraph-tests

overwrite taskcluster/ with m-c's copy
  taskcluster/ci/build/android-stuff.yml
  taskcluster/ci/build/android.yml
  taskcluster/ci/l10n/kind.yml
  taskcluster/ci/nightly-l10n/kind.yml
  taskcluster/ci/push-apk-breakpoint/kind.yml
  taskcluster/ci/push-apk/kind.yml
  taskcluster/ci/test/test-platforms.yml
  taskcluster/ci/test/tests.yml
  taskcluster/ci/upload-symbols/kind.yml
  taskcluster/docs/transforms.rst
  taskcluster/taskgraph/target_tasks.py
  taskcluster/taskgraph/transforms/beetmover.py
  taskcluster/taskgraph/transforms/gecko_v2_whitelist.py
  taskcluster/taskgraph/transforms/job/mozharness_test.py
  taskcluster/taskgraph/transforms/tests.py
  taskcluster/taskgraph/try_option_syntax.py
  taskcluster/taskgraph/util/push_apk.py
  taskcluster/taskgraph/util/scriptworker.py
Due: doc-generate, doc-upload, taskgraph-tests

possibly get date back to normal
  taskcluster/ci/nightly-l10n/kind.yml
  taskcluster/ci/push-apk-breakpoint/kind.yml
  taskcluster/ci/push-apk/kind.yml
  taskcluster/ci/test/tests.yml
  taskcluster/taskgraph/util/scriptworker.py
Due: doc-generate, doc-upload, taskgraph-tests

Don't skip over items when we delete the previous one
  dom/events/test/bug426082.html
  layout/base/nsLayoutUtils.cpp
  layout/painting/nsDisplayList.cpp
Due: none

Remove accidental test change
  dom/events/test/bug426082.html
Due: none

fix date bm-r
  taskcluster/taskgraph/util/scriptworker.py
Due: doc-generate, doc-upload, taskgraph-tests

Do not clear modified frames when display list is not retained
  layout/base/nsLayoutUtils.cpp
Due: none

Store window dragging regions as separate rectangles per frame
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
Due: none

Remove window dragging rectangles that belong to invalidated frames
  layout/base/nsLayoutUtils.cpp
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
Due: none

WIP: Funsize in tree
  taskcluster/ci/beetmover-partials/kind.yml
  taskcluster/ci/docker-image/kind.yml
  taskcluster/ci/partials-signing/kind.yml
  taskcluster/ci/partials/kind.yml
  taskcluster/docker/funsize-update-generator/scripts/funsize.py
  taskcluster/docs/kinds.rst
  taskcluster/docs/parameters.rst
  taskcluster/mach_commands.py
  taskcluster/taskgraph/decision.py
  taskcluster/taskgraph/parameters.py
  taskcluster/taskgraph/partials_balrog.py
  taskcluster/taskgraph/transforms/beetmover_partials.py
  taskcluster/taskgraph/transforms/partials.py
  taskcluster/taskgraph/transforms/partials_signing.py
  taskcluster/taskgraph/transforms/repackage_signing.py
  taskcluster/taskgraph/transforms/task.py
  taskcluster/taskgraph/util/partials.py
Due: doc-generate, doc-upload, taskgraph-tests

caching no longer required
  taskcluster/taskgraph/partials_balrog.py
Due: doc-generate, doc-upload, taskgraph-tests

Fix unknown platform error
  taskcluster/ci/partials/kind.yml
  taskcluster/taskgraph/util/partials.py
Due: doc-generate, doc-upload, taskgraph-tests

Update workertype DONTBUILD
  taskcluster/taskgraph/transforms/partials.py
Due: doc-generate, doc-upload, taskgraph-tests

fix task references DONTBUILD
  taskcluster/taskgraph/transforms/partials.py
Due: doc-generate, doc-upload, taskgraph-tests

update partials to work with mozharness DONTBUILD
  taskcluster/ci/partials/kind.yml
  taskcluster/scripts/builder/funsize.sh
  taskcluster/taskgraph/transforms/partials.py
  testing/mozharness/configs/funsize.py
  testing/mozharness/scripts/funsize.py
Due: doc-generate, doc-upload, taskgraph-tests, mozharness

update docker image to include run-task DONTBUILD
  taskcluster/docker/funsize-update-generator/Dockerfile
Due: none

mozharness requirements DONTBUILD
  taskcluster/docker/funsize-update-generator/Dockerfile
  taskcluster/docker/funsize-update-generator/buildprops.json
  taskcluster/docker/funsize-update-generator/oauth.txt
Due: none

revert of run-task use, since it clones repo, which we then ignore. DONTBUILD
  taskcluster/ci/partials/kind.yml
  taskcluster/docker/funsize-update-generator/Dockerfile
  taskcluster/taskgraph/transforms/partials.py
Due: doc-generate, doc-upload, taskgraph-tests

add required environment DONTBUILD
  taskcluster/docker/funsize-update-generator/Dockerfile
  taskcluster/taskgraph/transforms/partials.py
Due: doc-generate, doc-upload, taskgraph-tests

Double // in url causes errors DONTBUILD
  taskcluster/taskgraph/transforms/partials.py
Due: doc-generate, doc-upload, taskgraph-tests

DON'T UPLIFT: stop testing with 90+ locales; use 2 for now
  browser/locales/all-locales
  browser/locales/shipped-locales
Due: none

Avoid creating WeakFrame temporaries
  layout/painting/nsDisplayList.cpp
Due: none

Add a way to mark display items as dependent on an extra frame, make sure we invalidate both when one changes, and use this for canvas backgrounds.
  layout/generic/nsCanvasFrame.cpp
  layout/generic/nsFrame.cpp
  layout/painting/nsCSSRendering.cpp
  layout/painting/nsCSSRendering.h
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
Due: none

Bug 1394353 - Call UpdateBounds after display items are merged. r=mattwoodrow
  layout/base/nsLayoutUtils.cpp
Due: none

Call UpdateBounds for the reverse-merge case
  layout/base/nsLayoutUtils.cpp
Due: none

Move display item dependencies into display item subclasses to avoid static analysis error with WeakFrame on the stack
  layout/generic/nsCanvasFrame.cpp
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
Due: none

Unify code for removing frame for a display item and use it for dependent frames
  layout/base/PresShell.cpp
  layout/generic/nsFrame.cpp
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
Due: none

bug 1393277 - enable chain of trust in action tasks.
  taskcluster/taskgraph/action.yml
Due: none

bug 1394130 - mac l10n should be based off build-signing. DONTBUILD
  taskcluster/taskgraph/transforms/l10n.py
Due: doc-generate, doc-upload, taskgraph-tests

bug 1394130 - mac l10n should be based off build-signing, part 2
  taskcluster/ci/nightly-l10n/kind.yml
  testing/mozharness/configs/single_locale/macosx64.py
Due: doc-generate, doc-upload, mozharness

base mac nightly l10n off repackage DONTBUILD
  taskcluster/ci/nightly-l10n/kind.yml
  taskcluster/taskgraph/transforms/l10n.py
  testing/mozharness/configs/single_locale/macosx64.py
Due: doc-generate, doc-upload, taskgraph-tests, mozharness

bug 1394130 - we don't need signing in mac l10n deps DONTBUILD
  taskcluster/taskgraph/transforms/l10n.py
Due: doc-generate, doc-upload, taskgraph-tests

Add chain-of-trust to partials worker DONTBUILD
  taskcluster/taskgraph/transforms/partials.py
Due: doc-generate, doc-upload, taskgraph-tests

Be more specific about where the upstream artifacts are DONTBUILD
  taskcluster/taskgraph/transforms/partials.py
Due: doc-generate, doc-upload, taskgraph-tests

Update expected artifacts path, and include manifest DONTBUILD
  taskcluster/taskgraph/transforms/partials.py
Due: doc-generate, doc-upload, taskgraph-tests

Fix silly artifacts bug DONTBUILD
  taskcluster/taskgraph/transforms/partials.py
Due: doc-generate, doc-upload, taskgraph-tests

Prep for beetmover support DONTBUILD
  taskcluster/ci/beetmover-partials/kind.yml
  taskcluster/taskgraph/transforms/beetmover_partials.py
  taskcluster/taskgraph/transforms/beetmover_repackage.py
Due: doc-generate, doc-upload, taskgraph-tests

Bug 1396177 - Do not clobber the langpack in l10n-check. r=aki
  browser/locales/Makefile.in
Due: none

Path conditions:
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  doc-generate: any of: **/*.py, **/*.rst, tools/docs/**
  doc-upload: any of: **/*.py, **/*.rst, tools/docs/**
  taskgraph-tests: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  marionette-harness: any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py
  mozbase: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness: any of: testing/mozharness/**
  mozlint: any of: python/mozlint/**, python/mach_commands.py
  webidl-test/opt: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  macosx64-clang/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-clang-tidy/opt: any of: build/clang-plugin/**, build/build-clang/**, taskcluster/scripts/misc/build-clang-tidy-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-cctools-port/opt: any of: taskcluster/scripts/misc/build-cctools-port-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
