Repository mozilla/gecko-projects: changes, and which Taskcluster tasks are due for each by the changed paths.
All: linux64-shell-haz/debug, generate, upload, bugzilla-components, taskgraph-tests, marionette-harness, mozbase, mozharness, mozlint, mochitest-harness, mozversioncontrol, reftest-harness, webidl-test/opt, macosx64-clang/opt, macosx64-clang-tidy/opt, macosx64-cctools-port/opt

linux64-shell-haz/debug:
  description: JS Shell Hazard Analysis Linux
  index:
    product: firefox
    job-name:
      gecko-v2: shell-haz-debug
  treeherder:
    platform: linux64/debug
    symbol: SM-tc(H)
  run:
    using: hazard
    tooltool-manifest: browser/config/tooltool-manifests/linux64/hazard.manifest
  ...

generate:
  description: Generate the Sphinx documentation
  platform: lint/opt
  treeherder:
    symbol: tc(Doc)
    kind: test
    tier: 1
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
    artifacts:
    - type: file
      name: public/docs.tar.gz
  ...

upload:
  description: Generate and upload the Sphinx documentation
  platform: lint/opt
  treeherder:
    symbol: tc(DocUp)
    kind: test
    tier: 3
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
  ...

bugzilla-components:
  description: Generate metadata about source files and Bugzilla
  treeherder:
    symbol: Bugzilla
  index:
    product: source
    job-name: source-bugzilla-info
  run:
    using: run-task
  ...

taskgraph-tests:
  description: taskcluster/taskgraph unit tests
  platform: linux64/opt
  treeherder:
    symbol: py(tg)
    kind: test
    tier: 2
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
    mach: taskgraph python-tests
  ...

marionette-harness:
  description: testing/marionette/harness unit tests
  platform: linux64/opt
  treeherder:
    symbol: py(mnh)
    kind: test
    tier: 2
  worker-type:
    by-platform:
      linux64.*: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    by-platform:
      linux64.*:
        docker-image:
          in-tree: lint
  ...

mozbase:
  description: testing/mozbase unit tests
  platform:
  - linux64/opt
  treeherder:
    symbol: py(mb)
    kind: test
    tier: 2
  worker-type:
    by-platform:
      linux64.*: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    by-platform:
      linux64.*:
        docker-image:
          in-tree: lint
  ...

mozharness:
  description: mozharness integration tests
  platform: lint/opt
  treeherder:
    symbol: py(MH)
    kind: test
    tier: 2
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

mozlint:
  description: python/mozlint unit tests
  platform: linux64/opt
  treeherder:
    symbol: py(ml)
    kind: test
    tier: 2
  worker-type:
    by-platform:
      linux64.*: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    by-platform:
      linux64.*:
        docker-image:
          in-tree: lint
  ...

stop defining task.extra.product
  taskcluster/ci/push-apk/kind.yml
  taskcluster/ci/release-buildbot-update-verify/kind.yml
  taskcluster/ci/release-final-verify/kind.yml
  taskcluster/ci/release-mark-as-shipped/kind.yml
  taskcluster/ci/release-update-verify/kind.yml
  taskcluster/taskgraph/transforms/buildbot_update_verify.py
  taskcluster/taskgraph/transforms/final_verify.py
  taskcluster/taskgraph/transforms/update_verify.py
Due: generate, upload, bugzilla-components, taskgraph-tests

fix firefox bncr sub buildername CLOSED TREE
  taskcluster/ci/release-bouncer-sub/kind.yml
Due: bugzilla-components

back out b686886b5f9a (branch specifics)
  testing/mozharness/configs/builds/branch_specifics.py
Due: generate, upload, bugzilla-components, mozharness

update release-source task to call fx_source.py
  taskcluster/ci/release-source/kind.yml
  taskcluster/ci/release-source/source.yml
  taskcluster/taskgraph/transforms/job/mozharness.py
  testing/mozharness/configs/builds/releng_sub_linux_configs/64_source.py
Due: generate, upload, bugzilla-components, taskgraph-tests, mozharness

SOURCE instead of tar.bz2 CLOSED TREE
  taskcluster/taskgraph/transforms/beetmover.py
  taskcluster/taskgraph/transforms/build_signing.py
  taskcluster/taskgraph/util/signed_artifacts.py
  testing/mozharness/configs/builds/releng_sub_linux_configs/64_source.py
Due: generate, upload, bugzilla-components, taskgraph-tests, mozharness

Bug 1414953 - schedule partner and EME-free repacks in-tree, r=aki CLOSED TREE
  taskcluster/ci/release-partner-repack/kind.yml
  taskcluster/docs/kinds.rst
  taskcluster/taskgraph/target_tasks.py
  taskcluster/taskgraph/transforms/partner_repack.py
Due: generate, upload, bugzilla-components, taskgraph-tests

add fx_source.py script
  testing/mozharness/scripts/fx_source.py
Due: generate, upload, bugzilla-components, mozharness

add dummy options to fx_source
  testing/mozharness/scripts/fx_source.py
Due: generate, upload, bugzilla-components, mozharness

fix yamllint
  taskcluster/ci/beetmover-checksums/kind.yml
  taskcluster/ci/beetmover-repackage/kind.yml
  taskcluster/ci/google-play-strings/kind.yml
  taskcluster/ci/push-apk/kind.yml
  taskcluster/ci/release-binary-transparency/kind.yml
  taskcluster/ci/release-bouncer-aliases/kind.yml
  taskcluster/ci/release-bouncer-sub/kind.yml
  taskcluster/ci/release-buildbot-update-verify/kind.yml
  taskcluster/ci/release-final-verify/kind.yml
  taskcluster/ci/release-mark-as-shipped/kind.yml
  taskcluster/ci/release-notify-promote/kind.yml
  taskcluster/ci/release-notify-push/kind.yml
  taskcluster/ci/release-notify-ship/kind.yml
  taskcluster/ci/release-partner-repack/kind.yml
  taskcluster/ci/release-source-signing/kind.yml
  taskcluster/ci/release-update-verify/kind.yml
  taskcluster/ci/release-uptake-monitoring/kind.yml
  taskcluster/ci/release-version-bump/kind.yml
Due: bugzilla-components

fix google-play-strings
  taskcluster/ci/google-play-strings/kind.yml
Due: bugzilla-components

fix google-play-strings again
  taskcluster/ci/google-play-strings/kind.yml
Due: bugzilla-components

fix fx_source.py
  taskcluster/ci/release-source/source.yml
  testing/mozharness/configs/builds/releng_sub_linux_configs/64_source.py
  testing/mozharness/scripts/fx_source.py
Due: generate, upload, bugzilla-components, mozharness

Bug 1385401 - part 10: Fix missing extra.chainOfTrust
  taskcluster/taskgraph/transforms/google_play_strings.py
Due: generate, upload, bugzilla-components, taskgraph-tests

fix source artifact path. DONTBUILD
  testing/mozharness/configs/builds/releng_sub_linux_configs/64_source.py
Due: generate, upload, bugzilla-components, mozharness

bug 1419084 - firefox snap p=garbas r=aki
  taskcluster/ci/beetmover-checksums/kind.yml
  taskcluster/ci/beetmover-repackage/kind.yml
  taskcluster/ci/config.yml
  taskcluster/ci/google-play-strings/kind.yml
  taskcluster/ci/push-apk/kind.yml
  taskcluster/ci/release-binary-transparency/kind.yml
  taskcluster/ci/release-bouncer-aliases/kind.yml
  taskcluster/ci/release-bouncer-sub/kind.yml
  taskcluster/ci/release-buildbot-update-verify/kind.yml
  taskcluster/ci/release-final-verify/kind.yml
  taskcluster/ci/release-mark-as-shipped/kind.yml
  taskcluster/ci/release-notify-promote/kind.yml
  taskcluster/ci/release-notify-push/kind.yml
  taskcluster/ci/release-notify-ship/kind.yml
  taskcluster/ci/release-snap/kind.yml
  taskcluster/ci/release-source-signing/kind.yml
  taskcluster/ci/release-source/kind.yml
  taskcluster/ci/release-update-verify/kind.yml
  taskcluster/ci/release-uptake-monitoring/kind.yml
  taskcluster/ci/release-version-bump/kind.yml
  taskcluster/docs/kinds.rst
  taskcluster/taskgraph/target_tasks.py
  taskcluster/taskgraph/transforms/google_play_strings.py
  taskcluster/taskgraph/transforms/release_snap.py
  taskcluster/taskgraph/transforms/task.py
Due: generate, upload, bugzilla-components, taskgraph-tests

more linting fixes
  taskcluster/ci/release-buildbot-update-verify/kind.yml
  taskcluster/ci/release-final-verify/kind.yml
Due: bugzilla-components

Add RC support to update verify.
  taskcluster/ci/release-buildbot-update-verify/kind.yml
  taskcluster/ci/release-update-verify/kind.yml
  taskcluster/docs/parameters.rst
  taskcluster/taskgraph/actions/release_promotion.py
  taskcluster/taskgraph/parameters.py
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Add RC support for final verify. CLOSED TREE DONTBUILD
  taskcluster/ci/release-secondary-final-verify/kind.yml
  taskcluster/docs/kinds.rst
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Run the 'updates' builder as part of in-tree releases for top level blob information, and patcher/update verify config updates. CLOSED TREE
  taskcluster/ci/release-buildbot-update-verify/kind.yml
  taskcluster/ci/release-secondary-final-verify/kind.yml
  taskcluster/ci/release-update-verify/kind.yml
  taskcluster/ci/release-updates-builder/kind.yml
  taskcluster/docs/kinds.rst
  taskcluster/taskgraph/actions/release_promotion.py
  taskcluster/taskgraph/target_tasks.py
  taskcluster/taskgraph/transforms/release_updates.py
  taskcluster/taskgraph/transforms/task.py
  taskcluster/taskgraph/util/schema.py
  taskcluster/taskgraph/util/scriptworker.py
Due: generate, upload, bugzilla-components, taskgraph-tests

fix desktop_release_type bustage?
  taskcluster/taskgraph/decision.py
Due: generate, upload, bugzilla-components, taskgraph-tests

add version.txt to sparse checkout
  build/sparse-profiles/taskgraph
Due: bugzilla-components

fix partial_versions
  taskcluster/taskgraph/transforms/release_updates.py
Due: generate, upload, bugzilla-components, taskgraph-tests

fix partial_versions again
  taskcluster/taskgraph/transforms/release_updates.py
Due: generate, upload, bugzilla-components, taskgraph-tests

yaml lint fix DONTBUILD
  taskcluster/taskgraph/transforms/release_updates.py
Due: generate, upload, bugzilla-components, taskgraph-tests

temporarily comment out snap scope to get a green relpro action
  taskcluster/ci/release-snap/kind.yml
Due: bugzilla-components

comment out scope take 2
  taskcluster/ci/release-snap/kind.yml
Due: bugzilla-components

artifacts/SOURCE
  testing/mozharness/configs/builds/releng_sub_linux_configs/64_source.py
Due: generate, upload, bugzilla-components, mozharness

fix release-source-signing
  taskcluster/taskgraph/util/signed_artifacts.py
Due: generate, upload, bugzilla-components, taskgraph-tests

fix beetmover source
  taskcluster/taskgraph/transforms/beetmover.py
Due: generate, upload, bugzilla-components, taskgraph-tests

s,jamun,maple
  testing/mozharness/configs/releases/dev_updates_firefox_beta.py
Due: generate, upload, bugzilla-components, mozharness

first stab at deved l10n
  taskcluster/ci/nightly-l10n/kind.yml
Due: bugzilla-components

enable devedition builds on maple
  taskcluster/ci/build/linux.yml
  taskcluster/ci/build/macosx.yml
  taskcluster/ci/build/windows.yml
Due: bugzilla-components

more deved
  taskcluster/ci/release-binary-transparency/kind.yml
  taskcluster/taskgraph/target_tasks.py
Due: generate, upload, bugzilla-components, taskgraph-tests

add shipping-phase and shipping-product to all nightly builds
  taskcluster/ci/build/android.yml
  taskcluster/ci/build/linux.yml
  taskcluster/ci/build/macosx.yml
  taskcluster/ci/build/windows.yml
Due: bugzilla-components

try to add shipping-phase and shipping-product to l10n
  taskcluster/ci/nightly-l10n/kind.yml
  taskcluster/taskgraph/transforms/l10n.py
  taskcluster/taskgraph/transforms/task.py
Due: generate, upload, bugzilla-components, taskgraph-tests

more devedition-l10n fix attempts. set shipping_product in single_dep loader
  taskcluster/ci/nightly-l10n/kind.yml
  taskcluster/taskgraph/loader/single_dep.py
  taskcluster/taskgraph/transforms/l10n.py
Due: generate, upload, bugzilla-components, taskgraph-tests

copy shipping_phase and shipping_product from upstream; stop defining for old-id
  taskcluster/ci/build/android.yml
  taskcluster/taskgraph/transforms/task.py
  taskcluster/taskgraph/util/attributes.py
Due: generate, upload, bugzilla-components, taskgraph-tests

set shipping-product in loader instead of attributes['shipping_product']
  taskcluster/taskgraph/loader/single_dep.py
  taskcluster/taskgraph/transforms/balrog.py
  taskcluster/taskgraph/transforms/checksums_signing.py
  taskcluster/taskgraph/transforms/l10n.py
  taskcluster/taskgraph/transforms/repackage.py
  taskcluster/taskgraph/transforms/repackage_signing.py
Due: generate, upload, bugzilla-components, taskgraph-tests

get_phase for beetmover+balrog (not sure if balrog is multi-phase?)
  taskcluster/taskgraph/transforms/balrog.py
  taskcluster/taskgraph/transforms/beetmover.py
  taskcluster/taskgraph/transforms/beetmover_cdns.py
  taskcluster/taskgraph/transforms/beetmover_repackage.py
  taskcluster/taskgraph/util/scriptworker.py
Due: generate, upload, bugzilla-components, taskgraph-tests

beetmover-cdns are always push
  taskcluster/taskgraph/transforms/beetmover_cdns.py
Due: generate, upload, bugzilla-components, taskgraph-tests

Path conditions:
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  generate: any of: **/*.py, **/*.rst, tools/docs/**
  upload: any of: **/*.py, **/*.rst, tools/docs/**
  bugzilla-components: any of: **
  taskgraph-tests: (any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py) or (any of: config/mozunit.py, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py)
  marionette-harness: (any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py) or (any of: config/mozunit.py, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt)
  mozbase: (any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py) or (any of: config/mozunit.py, python/mach_commands.py, testing/mozbase/**)
  mozharness: (any of: testing/mozharness/**) or (any of: config/mozunit.py, python/mach_commands.py, testing/mozharness/**)
  mozlint: (any of: python/mozlint/**, python/mach_commands.py) or (any of: config/mozunit.py, python/mach_commands.py, python/mozlint/**)
  mochitest-harness: any of: config/mozunit.py, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/prefs_general.js
  mozversioncontrol: any of: config/mozunit.py, python/mach_commands.py, python/mozversioncontrol/**
  reftest-harness: any of: config/mozunit.py, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  webidl-test/opt: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  macosx64-clang/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-clang-tidy/opt: any of: build/clang-plugin/**, build/build-clang/**, taskcluster/scripts/misc/build-clang-tidy-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-cctools-port/opt: any of: taskcluster/scripts/misc/build-cctools-port-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
