Repository mozilla/gecko-projects: changes, and which Taskcluster tasks are due for each by the changed paths.
All: linux64-shell-haz/debug, doc-generate, doc-upload, taskgraph-tests, marionette-harness, mozbase, mozharness, mozlint, webidl-test/opt, macosx64-clang/opt, macosx64-clang-tidy/opt, macosx64-cctools-port/opt

linux64-shell-haz/debug:
  description: JS Shell Hazard Analysis Linux
  index:
    product: firefox
    job-name:
      gecko-v2: shell-haz-debug
  treeherder:
    platform: linux64/debug
    symbol: SM-tc(H)
  run:
    using: hazard
    tooltool-manifest: browser/config/tooltool-manifests/linux64/hazard.manifest
  ...

doc-generate:
  description: Generate the Sphinx documentation
  platform: lint/opt
  treeherder:
    symbol: tc(Doc)
    kind: test
    tier: 1
  run-on-projects:
  - try
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
    artifacts:
    - type: file
  ...

doc-upload:
  description: Generate and upload the Sphinx documentation
  platform: lint/opt
  treeherder:
    symbol: tc(DocUp)
    kind: test
    tier: 3
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
  ...

taskgraph-tests:
  description: taskcluster/taskgraph unit tests
  platform: linux64/opt
  treeherder:
    symbol: py(tg)
    kind: test
    tier: 2
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
    mach: taskgraph python-tests
  ...

marionette-harness:
  description: testing/marionette/harness unit tests
  platform: linux64/opt
  treeherder:
    symbol: py(mnh)
    kind: test
    tier: 2
  worker-type:
    by-platform:
      linux64.*: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    by-platform:
      linux64.*:
        docker-image:
          in-tree: lint
  ...

mozbase:
  description: testing/mozbase unit tests
  platform:
  - linux64/opt
  treeherder:
    symbol: py(mb)
    kind: test
    tier: 2
  worker-type:
    by-platform:
      linux64.*: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    by-platform:
      linux64.*:
        docker-image:
          in-tree: lint
  ...

mozharness:
  description: mozharness integration tests
  platform: lint/opt
  treeherder:
    symbol: py(MH)
    kind: test
    tier: 2
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

mozlint:
  description: python/mozlint unit tests
  platform: linux64/opt
  treeherder:
    symbol: py(ml)
    kind: test
    tier: 2
  worker-type:
    by-platform:
      linux64.*: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    by-platform:
      linux64.*:
        docker-image:
          in-tree: lint
  ...

webidl-test/opt:
  description: WebIDL parser tests
  treeherder:
    symbol: Wp
    kind: test
    tier: 1
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
    mach: webidl-parser-test --verbose
  ...

Try simplifiy extra background color item code to match what we do for subdocs
  layout/base/PresShell.cpp
  layout/base/PresShell.h
  layout/base/nsIPresShell.h
  layout/base/nsLayoutUtils.cpp
  layout/generic/nsPageFrame.cpp
  layout/generic/nsSubDocumentFrame.cpp
  layout/painting/nsDisplayList.cpp
Due: none

Mark frames after we save the previous state
  layout/painting/nsDisplayList.cpp
Due: none

Append extra background items to partial list
  layout/base/nsLayoutUtils.cpp
Due: none

cot for docker-image in partials-signing DONTBUILD
  taskcluster/taskgraph/transforms/partials_signing.py
Due: doc-generate, doc-upload, taskgraph-tests

docker image cot info now in the right place DONTBUILD
  taskcluster/taskgraph/transforms/partials.py
Due: doc-generate, doc-upload, taskgraph-tests

locale for partials-signing upstream artifacts, and update worker-type DONTBUILD
  taskcluster/taskgraph/transforms/partials_signing.py
Due: doc-generate, doc-upload, taskgraph-tests

Schema validation issues DONTBUILD
  taskcluster/taskgraph/transforms/partials_signing.py
Due: doc-generate, doc-upload, taskgraph-tests

scopes for partials-signing DONTBUILD
  taskcluster/taskgraph/transforms/partials_signing.py
Due: doc-generate, doc-upload, taskgraph-tests

Use default of en-US for querying partial data DONTBUILD
  taskcluster/taskgraph/transforms/partials_signing.py
Due: doc-generate, doc-upload, taskgraph-tests

bug 1396177 - test axel's patch. DONTBUILD
  browser/locales/Makefile.in
Due: none

back out 07bb5eb56ec8 ; DONTBUILD
  browser/locales/Makefile.in
Due: none

Don't save/restore colors for reused canvas background color items
  layout/generic/nsCanvasFrame.h
Due: none

Remove unneeded param from TextOverflow
  layout/generic/TextOverflow.cpp
  layout/generic/TextOverflow.h
  layout/generic/nsBlockFrame.cpp
Due: none

Remove unneed previous layer check in nsSubDocumentFrame
  layout/generic/nsSubDocumentFrame.cpp
  layout/generic/nsSubDocumentFrame.h
Due: none

Backout now-unnecessary FLB changes
  layout/base/nsLayoutUtils.cpp
  layout/painting/FrameLayerBuilder.cpp
  layout/painting/FrameLayerBuilder.h
Due: none

Add balrog support & use name_sanity for partials. DONTBUILD
  taskcluster/ci/balrog/kind.yml
  taskcluster/ci/partials-signing/kind.yml
  taskcluster/ci/partials/kind.yml
  taskcluster/taskgraph/transforms/balrog.py
  taskcluster/taskgraph/transforms/task.py
Due: doc-generate, doc-upload, taskgraph-tests

Bug 1397118 - Add FrameForInvalidation for nsDisplayItem to make sure we can get correct frame when checking invalidation. r=mattwoodrow
  layout/base/nsLayoutUtils.cpp
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
Due: none

Adjust default locale for partials-signing, and remove debugging print DONTBUILD
  taskcluster/taskgraph/transforms/balrog.py
  taskcluster/taskgraph/transforms/partials_signing.py
Due: doc-generate, doc-upload, taskgraph-tests

Code cleanup DONTBUILD
  taskcluster/taskgraph/transforms/balrog.py
  taskcluster/taskgraph/transforms/beetmover_partials.py
  taskcluster/taskgraph/transforms/partials.py
  taskcluster/taskgraph/transforms/partials_signing.py
  taskcluster/taskgraph/transforms/task.py
Due: doc-generate, doc-upload, taskgraph-tests

Fix locale for CoT artifacts list DONTBUILD
  taskcluster/taskgraph/transforms/partials.py
Due: doc-generate, doc-upload, taskgraph-tests

fix mishandling of en-US for beetmover DONTBUILD
  taskcluster/taskgraph/transforms/beetmover_partials.py
Due: doc-generate, doc-upload, taskgraph-tests

Avoid extra call to nsLayoutUtils::GetScrollableFrameFor()
  layout/painting/nsDisplayList.cpp
Due: none

Remove unnecessary files DONTBUILD
  taskcluster/scripts/builder/funsize.sh
  testing/mozharness/configs/funsize.py
  testing/mozharness/scripts/funsize.py
Due: doc-generate, doc-upload, mozharness

Always merge nsDisplayLayerEventRegions into the old item, since it should be quicker that way
  layout/base/nsLayoutUtils.cpp
Due: none

Add an option to use the old arena allocator in nsDisplayListBuilder
  layout/base/nsLayoutUtils.cpp
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
Due: none

Move clip chains back into the display list builder arena
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
Due: none

First round of changes suggested from review DONTBUILD
  taskcluster/docker/funsize-update-generator/buildprops.json
  taskcluster/docker/funsize-update-generator/oauth.txt
  taskcluster/docs/kinds.rst
  taskcluster/mach_commands.py
  taskcluster/taskgraph/decision.py
  taskcluster/taskgraph/transforms/beetmover_partials.py
  taskcluster/taskgraph/transforms/task.py
  taskcluster/taskgraph/util/partials.py
Due: doc-generate, doc-upload, taskgraph-tests

Restore decision task flow until a better way of determining nightly graphs is worked out
  taskcluster/taskgraph/decision.py
Due: doc-generate, doc-upload, taskgraph-tests

Turn the release_history file into part of the parameters, and filter on nightly as best we can DONTBUILD
  taskcluster/docs/parameters.rst
  taskcluster/mach_commands.py
  taskcluster/taskgraph/decision.py
  taskcluster/taskgraph/util/partials.py
Due: doc-generate, doc-upload, taskgraph-tests

Don't try to merge invalidated event regions items
  layout/base/nsLayoutUtils.cpp
Due: none

Update based on feedback DONTBUILD
  taskcluster/ci/docker-image/kind.yml
  taskcluster/docker/partial-update-generator/Dockerfile
  taskcluster/docker/partial-update-generator/Makefile
  taskcluster/docker/partial-update-generator/README
  taskcluster/docker/partial-update-generator/dep.pubkey
  taskcluster/docker/partial-update-generator/nightly_sha1.pubkey
  taskcluster/docker/partial-update-generator/nightly_sha384.pubkey
  taskcluster/docker/partial-update-generator/release_sha1.pubkey
  taskcluster/docker/partial-update-generator/release_sha384.pubkey
  taskcluster/docker/partial-update-generator/requirements.txt
  taskcluster/docker/partial-update-generator/runme.sh
  taskcluster/docker/partial-update-generator/scripts/funsize.py
  taskcluster/docker/partial-update-generator/scripts/mbsdiff_hook.sh
  taskcluster/docs/kinds.rst
  taskcluster/mach_commands.py
  taskcluster/taskgraph/decision.py
  taskcluster/taskgraph/transforms/balrog.py
  taskcluster/taskgraph/transforms/beetmover_partials.py
  taskcluster/taskgraph/transforms/partials.py
  taskcluster/taskgraph/transforms/partials_signing.py
  taskcluster/taskgraph/transforms/repackage.py
  taskcluster/taskgraph/util/partials.py
  taskcluster/taskgraph/util/taskcluster.py
Due: doc-generate, doc-upload, taskgraph-tests

Revert artifacts dir changes DONTBUILD
  taskcluster/taskgraph/transforms/partials.py
Due: doc-generate, doc-upload, taskgraph-tests

Add a profiler marker for display list resources
  layout/base/nsLayoutUtils.cpp
Due: none

Do not create a temporary variable in NewPaintedLayerData()
  layout/painting/FrameLayerBuilder.cpp
Due: none

backface change
  layout/painting/nsDisplayList.h
Due: none

Bug 1398666 - Reset nsDisplayTransForm's bound flag when updating bounds. r=mattwoodrow
  layout/painting/nsDisplayList.h
Due: none

Restore locales for task submission time testing DONTBUILD
  browser/locales/all-locales
  taskcluster/taskgraph/partials_balrog.py
Due: doc-generate, doc-upload, taskgraph-tests

Experiment with concurrency to see the affect on task submission time DONTBUILD
  taskcluster/taskgraph/create.py
Due: doc-generate, doc-upload, taskgraph-tests

Update README.md
  README.md
Due: none

Test lower concurrency, add extra debug logs DONTBUILD
  taskcluster/taskgraph/create.py
Due: doc-generate, doc-upload, taskgraph-tests

Path conditions:
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  doc-generate: any of: **/*.py, **/*.rst, tools/docs/**
  doc-upload: any of: **/*.py, **/*.rst, tools/docs/**
  taskgraph-tests: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  marionette-harness: any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py
  mozbase: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness: any of: testing/mozharness/**
  mozlint: any of: python/mozlint/**, python/mach_commands.py
  webidl-test/opt: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  macosx64-clang/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-clang-tidy/opt: any of: build/clang-plugin/**, build/build-clang/**, taskcluster/scripts/misc/build-clang-tidy-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-cctools-port/opt: any of: taskcluster/scripts/misc/build-cctools-port-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
