Repository mozilla/gecko-projects: changes, and which Taskcluster tasks are due for each by the changed paths.
All: linux64-shell-haz/debug, taskgraph-tests, marionette-harness, mozbase, mozharness, mozlint, webidl-test/opt, macosx64-clang/opt, macosx64-clang-tidy/opt, macosx64-cctools-port/opt

Path conditions:
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  taskgraph-tests: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  marionette-harness: any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py
  mozbase: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness: any of: testing/mozharness/**
  mozlint: any of: python/mozlint/**, python/mach_commands.py
  webidl-test/opt: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  macosx64-clang/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-clang-tidy/opt: any of: build/clang-plugin/**, build/build-clang/**, taskcluster/scripts/misc/build-clang-tidy-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-cctools-port/opt: any of: taskcluster/scripts/misc/build-cctools-port-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py

Bug 1383257 - JSReftest is green (only known intermittents), so doesn't need to be tier 3. r=kmoir for: Land changes to flip windows nightlies on, and to tier 1 on central
  taskcluster/ci/test/tests.yml
Due: none

Bug 1383257 - When PGO runs tests via BBB they end up mixed in with the opt variant BBB tests. r=catlee for: Land changes to flip windows nightlies on, and to tier 1 on central
  taskcluster/taskgraph/transforms/job/mozharness_test.py
Due: taskgraph-tests

Bug 1383257 - Run win talos on all expected branches. r=kmoir for: Land changes to flip windows nightlies on, and to tier 1 on central
  taskcluster/ci/test/tests.yml
Due: none

Bug 1383257 - Run talos-perf-singletons on all branches. r=jmaher for: Land changes to flip windows nightlies on, and to tier 1 on central
  taskcluster/ci/test/tests.yml
Due: none

Bug 1383257 - Schedule devedition testing too. r=catlee for: Land changes to flip windows nightlies on, and to tier 1 on central
  taskcluster/ci/build/windows.yml
  taskcluster/ci/test/test-platforms.yml
  taskcluster/ci/test/tests.yml
  taskcluster/taskgraph/loader/build_signing.py
  taskcluster/taskgraph/transforms/gecko_v2_whitelist.py
  taskcluster/taskgraph/transforms/job/mozharness_test.py
  taskcluster/taskgraph/transforms/tests.py
Due: taskgraph-tests

Bug 1383257 - Actually flip builds to tier 1. r=catlee for: Land changes to flip windows nightlies on, and to tier 1 on central
  taskcluster/ci/build/windows.yml
Due: none

Bug 1383257 - Flip windows testing to be tier 1 by default. r=kmoir for: Land changes to flip windows nightlies on, and to tier 1 on central
  taskcluster/taskgraph/transforms/tests.py
Due: taskgraph-tests

Bug 1383257 - Do not attempt to schedule win10 hardware testing, unless we're on try. r=grenade for: Land changes to flip windows nightlies on, and to tier 1 on central
  taskcluster/taskgraph/transforms/tests.py
Due: taskgraph-tests

Clean up the array before calling property destructors in case we have properties that reference other properties
  layout/base/FrameProperties.h
Due: none

Only break on frames that are actually within the displayport, and not the scrollbar parts
  layout/base/nsLayoutUtils.cpp
  layout/base/nsLayoutUtils.h
  layout/generic/nsFrame.cpp
Due: none

Setup AutoCurrentScrollbarInfoSetter when creating the nsDisplayOwnLayer
  layout/generic/nsGfxScrollFrame.cpp
Due: none

Fix nsDisplayOpacity flattening regression
  layout/painting/nsDisplayList.cpp
Due: none

Visit subdocument presshells if they are reused
  layout/base/nsLayoutUtils.cpp
  layout/generic/nsSubDocumentFrame.cpp
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
Due: none

Don't clobber retained ASRs for non-painting display list builds
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
Due: none

Don't schedule a paint when we change the size of a frame since APZ paint skipping relies on this not happening
  layout/generic/nsIFrame.h
Due: none

Try to get Windows builds working on Cedar again.
  taskcluster/taskgraph/target_tasks.py
Due: taskgraph-tests

Disable Windows 10 tests since they're excluded on central.
  taskcluster/taskgraph/target_tasks.py
Due: taskgraph-tests

Rebuild the full display list when we have blend modes
  layout/generic/nsFrame.cpp
  layout/generic/nsGfxScrollFrame.cpp
  layout/generic/nsIFrame.h
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
Due: none

Fix Android compile errors
  layout/forms/nsGfxCheckboxControlFrame.cpp
  layout/forms/nsGfxCheckboxControlFrame.h
  layout/forms/nsGfxRadioControlFrame.cpp
  layout/forms/nsGfxRadioControlFrame.h
  layout/generic/nsPluginFrame.cpp
Due: none

Retain subdocument background items (temporary fix)
  layout/base/PresShell.cpp
Due: none

Support sync decoding of images with partial display list updates.
  layout/base/nsLayoutUtils.cpp
  layout/generic/nsBulletFrame.cpp
  layout/painting/nsDisplayListInvalidation.h
Due: none

Don't try access frame pointers after they've been cleared
  layout/base/nsLayoutUtils.cpp
Due: none

Don't restore mDisableSubpixelAA from an uninitialized value
  layout/painting/nsDisplayList.h
Due: none

Use the correct children visible area when building nsDisplayTransform
  layout/generic/nsFrame.cpp
Due: none

Treat plugin display items as images that need sync decode since plugin code changes behaviour based on nsDisplayListBuilder::ShouldSyncDecodeImages
  layout/generic/nsPluginFrame.cpp
  layout/generic/nsPluginFrame.h
Due: none

Clear any root element fixed background display data when repeating display list building
  layout/generic/nsFrame.cpp
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
Due: none

Forcibly mark frames as changed when we change animation state, since we're not guaranteed anything else will do this
  dom/animation/KeyframeEffectReadOnly.cpp
Due: none

Preserve more background items
  layout/base/PresShell.cpp
  layout/base/PresShell.h
  layout/base/nsIPresShell.h
  layout/generic/nsPageFrame.cpp
  layout/generic/nsSubDocumentFrame.cpp
Due: none

Add a new flag for reuseable background items
  layout/base/PresShell.cpp
  layout/base/nsIPresShell.h
  layout/generic/nsPageFrame.cpp
  layout/generic/nsSubDocumentFrame.cpp
Due: none

Don't do partial display list building for paginated content
  layout/generic/nsSimplePageSequenceFrame.cpp
Due: none

Try invalidating plugins when sync decoding by checking for the plugin type explicitly.
  layout/base/nsLayoutUtils.cpp
  layout/generic/nsPluginFrame.cpp
  layout/generic/nsPluginFrame.h
Due: none

Schedule a paint when a style change wants to invalidate rendering observers
  layout/base/RestyleManager.cpp
Due: none

Always rebuild display item for subdocument canvas frame
  layout/generic/nsSubDocumentFrame.cpp
Due: none

Bug 1383771 - Add widevine support to Nightly builds
  taskcluster/ci/repackage-signing/kind.yml
  taskcluster/ci/repackage/kind.yml
  taskcluster/taskgraph/transforms/build_signing.py
  taskcluster/taskgraph/transforms/gecko_v2_whitelist.py
  taskcluster/taskgraph/transforms/repackage.py
  testing/mozharness/configs/repackage/linux32_signed.py
  testing/mozharness/configs/repackage/linux64_signed.py
Due: taskgraph-tests, mozharness

Increment subdocument presshell paint count during partial display list build
  layout/base/nsLayoutUtils.cpp
Due: none

Return LAYER_NONE for nsDisplaySubDocuments that are going to get flattened
  layout/painting/nsDisplayList.h
Due: none

Restore state for nsDisplayList as well as items
  layout/base/nsLayoutUtils.cpp
  layout/painting/nsDisplayList.h
Due: none

Disable browser_PageActions.js test on Cedar
  browser/modules/test/browser/browser.ini
Due: none

Invalidate items that might draw images but have no existing geometry when sync decoding
  layout/base/nsLayoutDebugger.cpp
  layout/base/nsLayoutUtils.cpp
  layout/generic/nsPluginFrame.cpp
  layout/generic/nsPluginFrame.h
  layout/painting/FrameLayerBuilder.cpp
  layout/painting/FrameLayerBuilder.h
  layout/painting/nsDisplayItemTypes.h
  layout/painting/nsDisplayItemTypesList.h
  layout/painting/nsDisplayList.h
Due: none

Bug 1383771 - part 2: Fix source extension + remove mozconfig
  taskcluster/taskgraph/transforms/repackage.py
  testing/mozharness/configs/repackage/linux32_signed.py
  testing/mozharness/configs/repackage/linux64_signed.py
Due: taskgraph-tests, mozharness
