Repository mozilla/gecko-projects: changes, and which Taskcluster tasks are due for each by the changed paths.
All: linux64-shell-haz/debug, taskgraph-tests, marionette-harness, mozbase, mozharness, mozlint, webidl-test/opt, macosx64-clang/opt, macosx64-clang-tidy/opt, macosx64-cctools-port/opt

linux64-shell-haz/debug:
  description: JS Shell Hazard Analysis Linux
  index:
    product: firefox
    job-name:
      gecko-v2: shell-haz-debug
  treeherder:
    platform: linux64/debug
    symbol: SM-tc(H)
  run:
    using: hazard
    tooltool-manifest: browser/config/tooltool-manifests/linux64/hazard.manifest
  ...

taskgraph-tests:
  description: taskcluster/taskgraph unit tests
  platform: linux64/opt
  treeherder:
    symbol: py(tg)
    kind: test
    tier: 2
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
    mach: taskgraph python-tests
  ...

marionette-harness:
  description: testing/marionette/harness unit tests
  platform: linux64/opt
  treeherder:
    symbol: py(mnh)
    kind: test
    tier: 2
  worker-type:
    by-platform:
      linux64.*: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    by-platform:
      linux64.*:
        docker-image:
          in-tree: lint
  ...

mozbase:
  description: testing/mozbase unit tests
  platform:
  - linux64/opt
  treeherder:
    symbol: py(mb)
    kind: test
    tier: 2
  worker-type:
    by-platform:
      linux64.*: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    by-platform:
      linux64.*:
        docker-image:
          in-tree: lint
  ...

mozharness:
  description: mozharness integration tests
  platform: lint/opt
  treeherder:
    symbol: py(MH)
    kind: test
    tier: 2
  worker-type: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

mozlint:
  description: python/mozlint unit tests
  platform: linux64/opt
  treeherder:
    symbol: py(ml)
    kind: test
    tier: 2
  worker-type:
    by-platform:
      linux64.*: aws-provisioner-v1/gecko-t-linux-xlarge
  worker:
    by-platform:
      linux64.*:
        docker-image:
          in-tree: lint
  ...

webidl-test/opt:
  description: WebIDL parser tests
  treeherder:
    symbol: Wp
    kind: test
    tier: 1
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
    mach: webidl-parser-test --verbose
  ...

macosx64-clang/opt:
  description: Clang toolchain build
  treeherder:
    kind: build
    platform: osx-10-10/opt
    symbol: Cc(Clang)
    tier: 1
  run:
    using: toolchain-script
    script: build-clang-macosx.sh
    tooltool-downloads: internal
  worker-type: aws-provisioner-v1/gecko-{level}-b-macosx64
  worker:
  ...

macosx64-clang-tidy/opt:
  description: Clang-tidy build
  index:
    product: static-analysis
    job-name: macosx64-clang-tidy
  treeherder:
    kind: build
    platform: osx-10-10/opt
    symbol: Cc(Clang-Tidy)
    tier: 1
  run:
    using: toolchain-script
    script: build-clang-tidy-macosx.sh
    tooltool-downloads: internal
  ...

Fix l10n, disable simple packaging
  taskcluster/taskgraph/transforms/job/mozharness.py
  taskcluster/taskgraph/transforms/l10n.py
Due: taskgraph-tests

Bug 1380296 - Mac builds shouldn't force symbol uploads r=catlee
  browser/config/mozconfigs/macosx64/beta
  browser/config/mozconfigs/macosx64/devedition
  browser/config/mozconfigs/macosx64/release
  browser/config/mozconfigs/win32/beta
  browser/config/mozconfigs/win32/devedition
  browser/config/mozconfigs/win32/release
  browser/config/mozconfigs/win64/beta
  browser/config/mozconfigs/win64/devedition
  browser/config/mozconfigs/win64/release
Due: none

Bug 1380293 - [tc-migration] Add win32 repackage in taskgraph
  taskcluster/taskgraph/transforms/repackage.py
  testing/mozharness/configs/repackage/win32_signed.py
  testing/mozharness/configs/repackage/win64_signed.py
Due: taskgraph-tests, mozharness

Bug 1380297 - Mac nightly repackage fails trying to read CodeName r=mshal
  python/mozbuild/mozbuild/repackaging/application_ini.py
  python/mozbuild/mozbuild/repackaging/dmg.py
Due: none

Fix L10n - Add more chunks and make sure config is passed after options
  taskcluster/ci/nightly-l10n/kind.yml
Due: none

move target.zip from repackage artifacts to build-signing and nightly-l10n-signing artifacts
  taskcluster/taskgraph/transforms/beetmover_repackage.py
Due: taskgraph-tests

Bug 1380293 - part 2: Fix stub-installer location
  taskcluster/taskgraph/transforms/repackage.py
Due: taskgraph-tests

Bug 1380293 - part 3: Add stub installer in repackage_signing
  taskcluster/taskgraph/transforms/repackage_signing.py
Due: taskgraph-tests

Upload setup and setup-stub.exe in l10n too
  testing/mozharness/configs/single_locale/tc_win32.py
  testing/mozharness/configs/single_locale/tc_win64.py
  testing/mozharness/scripts/desktop_l10n.py
  toolkit/mozapps/installer/upload-files.mk
Due: mozharness

bug 1379197 funsize routes for windows
  taskcluster/taskgraph/transforms/build_signing.py
  taskcluster/taskgraph/transforms/nightly_l10n_signing.py
  taskcluster/taskgraph/transforms/repackage_signing.py
  taskcluster/taskgraph/transforms/signing.py
Due: taskgraph-tests

build-signing is not a valid task type, but signing is
  taskcluster/taskgraph/transforms/beetmover_repackage.py
Due: taskgraph-tests

Backed out changeset 5d4bb29a6a49
  browser/config/mozconfigs/macosx64/beta
  browser/config/mozconfigs/macosx64/devedition
  browser/config/mozconfigs/macosx64/release
  browser/config/mozconfigs/win32/beta
  browser/config/mozconfigs/win32/devedition
  browser/config/mozconfigs/win32/release
  browser/config/mozconfigs/win64/beta
  browser/config/mozconfigs/win64/devedition
  browser/config/mozconfigs/win64/release
Due: none

Invalidate nsMathMLmactionFrame when attribute changes
  layout/mathml/nsMathMLmactionFrame.cpp
Due: none

bug 1380601 don't rely on default actions for windows nightlies, and add balrog 'update' for balrog_props.json r=jlorenzo
  taskcluster/ci/build/windows.yml
Due: none

bug 1380601 add to default actions for windows, to mirror macosx practice
  testing/mozharness/configs/builds/taskcluster_firefox_windows_32_opt.py
  testing/mozharness/configs/builds/taskcluster_firefox_windows_64_opt.py
Due: mozharness

Make win l10n use CoT as well
  taskcluster/taskgraph/transforms/l10n.py
Due: taskgraph-tests

bug 1357123 update, beetmover schema doesn't want empty lists.
  taskcluster/taskgraph/transforms/beetmover_repackage.py
Due: taskgraph-tests

Fix yml syntax to be a real array
  taskcluster/ci/build/windows.yml
  taskcluster/taskgraph/transforms/job/mozharness.py
Due: taskgraph-tests

Make windows stuff tier 1. r=rail
  taskcluster/ci/build/windows.yml
  taskcluster/ci/nightly-l10n/kind.yml
Due: none

* Fix stub installer name * Fix empty lists in beetmover artifact list
  taskcluster/taskgraph/transforms/beetmover_repackage.py
  testing/mozharness/configs/beetmover/en_us_repackage_signing.yml.tmpl
Due: taskgraph-tests, mozharness

Sign setup-stub.exe and use signed version for repackage
  taskcluster/taskgraph/transforms/build_signing.py
  taskcluster/taskgraph/transforms/nightly_l10n_signing.py
  taskcluster/taskgraph/transforms/repackage.py
Due: taskgraph-tests

Set the correct reference frame for text overflow markers when the inner frame is transformed
  layout/generic/TextOverflow.cpp
Due: none

Explictly mark the begin/end of display list building so we can match the behaviour of recreating the builder each frame
  layout/base/PresShell.cpp
  layout/base/nsLayoutUtils.cpp
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
Due: none

Upload l10n stub installer (properly) too, on win32
  testing/mozharness/scripts/desktop_l10n.py
  toolkit/mozapps/installer/upload-files.mk
Due: mozharness

Work around missing balrog properties, until better option is found
  testing/mozharness/mozharness/mozilla/updates/balrog.py
Due: mozharness

Bug 1379661: Stop running talos on Windows nightly builds to match Linux and OSX.
  taskcluster/ci/test/test-platforms.yml
  taskcluster/taskgraph/transforms/job/mozharness_test.py
Due: taskgraph-tests

Bug 1379661: Add tests for Windows PGO builds
  taskcluster/ci/test/test-platforms.yml
Due: none

Output directly to locale folder for repackage
  taskcluster/taskgraph/transforms/repackage.py
  testing/mozharness/configs/repackage/osx_signed.py
  testing/mozharness/configs/repackage/win32_signed.py
  testing/mozharness/configs/repackage/win64_signed.py
  testing/mozharness/scripts/repackage.py
Due: taskgraph-tests, mozharness

Set proper path to repackage artifacts too
  taskcluster/taskgraph/transforms/repackage.py
Due: taskgraph-tests

Bug 1379661: Enable tests on PGO builds
  taskcluster/ci/test/test-platforms.yml
  taskcluster/ci/test/test-sets.yml
  taskcluster/ci/test/tests.yml
  taskcluster/taskgraph/transforms/job/mozharness_test.py
  taskcluster/taskgraph/transforms/tests.py
Due: taskgraph-tests

Bug 1379661: Enable CI signing and tests that require signed builds for PGO builds
  taskcluster/ci/test/test-platforms.yml
  taskcluster/taskgraph/loader/build_signing.py
Due: taskgraph-tests

use update not extend
  taskcluster/taskgraph/transforms/repackage.py
Due: taskgraph-tests

Bug 1379661: Add quantum pageload talos tests for Windows
  taskcluster/ci/test/test-sets.yml
  taskcluster/ci/test/tests.yml
Due: none

nobug: clean up flake8 warnings DONTBUILD
  taskcluster/taskgraph/transforms/repackage.py
Due: taskgraph-tests

Can't .format() a string twice with missing keys, so refactor this section
  testing/mozharness/scripts/repackage.py
Due: mozharness

Fix syntax error
  testing/mozharness/scripts/repackage.py
Due: mozharness

Bug 1379661: Remove unused test tests and fix xperf platforms
  taskcluster/ci/test/test-sets.yml
  taskcluster/ci/test/tests.yml
Due: none

add buildid to taskcluster ?
  testing/mozharness/mozharness/mozilla/building/buildbase.py
Due: mozharness

Make sure locale is passed to repackage, if set
  testing/mozharness/configs/repackage/win32_signed.py
  testing/mozharness/configs/repackage/win64_signed.py
Due: mozharness

Don't run win7-32 tests from win32-pgo builds, and properly run from nightlies
  taskcluster/ci/test/test-platforms.yml
Due: none

Path conditions:
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  taskgraph-tests: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  marionette-harness: any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py
  mozbase: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness: any of: testing/mozharness/**
  mozlint: any of: python/mozlint/**, python/mach_commands.py
  webidl-test/opt: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  macosx64-clang/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-clang-tidy/opt: any of: build/clang-plugin/**, build/build-clang/**, taskcluster/scripts/misc/build-clang-tidy-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-cctools-port/opt: any of: taskcluster/scripts/misc/build-cctools-port-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
