Repository mozilla/gecko-projects: changes, and which Taskcluster tasks are due for each by the changed paths.
All: linux64-shell-haz/debug, taskgraph-tests, marionette-harness, mozbase, mozharness, mozlint, webidl-test/opt, macosx64-clang/opt, macosx64-clang-tidy/opt, macosx64-cctools-port/opt

Path conditions:
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  taskgraph-tests: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  marionette-harness: any of: testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt, python/mach_commands.py
  mozbase: any of: testing/mozbase/**, config/mozunit.py, python/mach_commands.py
  mozharness: any of: testing/mozharness/**
  mozlint: any of: python/mozlint/**, python/mach_commands.py
  webidl-test/opt: any of: dom/bindings/parser/runtests.py, dom/bindings/parser/WebIDL.py, dom/bindings/parser/tests/**, other-licenses/ply/**
  macosx64-clang/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-clang-tidy/opt: any of: build/clang-plugin/**, build/build-clang/**, taskcluster/scripts/misc/build-clang-tidy-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  macosx64-cctools-port/opt: any of: taskcluster/scripts/misc/build-cctools-port-macosx.sh, taskcluster/taskgraph/transforms/job/toolchain.py

Bug 1362534 - fixup missing file
  taskcluster/taskgraph/loader/build_signing.py
Due: taskgraph-tests

Bug 1377180: Pass PATH environment variables with partial environment on Windows. r?aswan
  toolkit/modules/subprocess/test/xpcshell/test_subprocess.js
Due: none

Bug 1374589 - Put Windows XPCShell to tier 3
  taskcluster/ci/test/tests.yml
Due: none

Do not transform stored dirtyRect
  layout/generic/nsFrame.cpp
Due: none

Bug 1377180 - dump strings to help debugging
  toolkit/modules/subprocess/test/xpcshell/test_subprocess.js
Due: none

Restore nsDisplayBackgroundColor color after ApplyOpacity
  layout/painting/nsDisplayList.h
Due: none

Bug 1377180 - print strings instead
  toolkit/modules/subprocess/test/xpcshell/test_subprocess.js
Due: none

Distinguish between ComputeRebuildRegion failing, and it computing an empty area so that we don't do a full rebuild in the latter case
  layout/base/nsLayoutUtils.cpp
  layout/painting/nsDisplayList.h
Due: none

Remove temporary items in PreProcessRetainedDisplayList()
  layout/base/nsLayoutUtils.cpp
Due: none

Ensure that the display item state is restored
  layout/base/nsLayoutUtils.cpp
  layout/painting/nsDisplayList.h
Due: none

Handle nested nsDisplayOpacities properly
  layout/painting/nsDisplayList.cpp
Due: none

Destroy temporary items before clip chains since items can reference the clips
  layout/painting/nsDisplayList.cpp
Due: none

Don't use saved state for nsDisplayCanvasBackgroundColor since it was being read uninitialized and should always be 0
  layout/generic/nsCanvasFrame.h
Due: none

Bug 1378252 - Add funsize routes to mac repackage-signing tasks
  taskcluster/taskgraph/transforms/repackage_signing.py
Due: taskgraph-tests

Fix CoT dep on docker-worker when using generic-worker
  taskcluster/taskgraph/transforms/l10n.py
Due: taskgraph-tests

Store LayerEventRegions rectangles per-frame so that we can remove rects when frames become invalid, and merge items
  gfx/src/nsRegion.h
  layout/base/PresShell.cpp
  layout/base/nsLayoutUtils.cpp
  layout/generic/nsGfxScrollFrame.cpp
  layout/generic/nsSubDocumentFrame.cpp
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
  mfbt/SmallPointerArray.h
Due: none

Don't bother reporting display-list tests as failing in non-e10s since we don't support retained-dl there for now
  layout/tools/reftest/reftest-content.js
Due: none

Bug 1379667: disable sendchange for windows builds
  testing/mozharness/configs/builds/releng_base_windows_32_builds.py
  testing/mozharness/configs/builds/releng_base_windows_64_builds.py
Due: mozharness

Bug 1378454 - Add predictable routes to repackage and repackage-signing tasks r=Callek
  taskcluster/ci/repackage-signing/kind.yml
  taskcluster/ci/repackage/kind.yml
  taskcluster/docs/attributes.rst
  taskcluster/taskgraph/transforms/gecko_v2_whitelist.py
  taskcluster/taskgraph/transforms/repackage.py
  taskcluster/taskgraph/transforms/repackage_routes.py
  taskcluster/taskgraph/transforms/repackage_signing.py
  taskcluster/taskgraph/transforms/task.py
Due: taskgraph-tests

Fix crashes due to event regions book keeping getting out of sync
  layout/base/PresShell.cpp
  layout/painting/nsDisplayList.cpp
Due: none

Bug 1379603 - enable windows hardware tests on try; r=dustin
  taskcluster/ci/test/test-platforms.yml
  taskcluster/ci/test/test-sets.yml
  taskcluster/ci/test/tests.yml
  taskcluster/taskgraph/transforms/tests.py
  taskcluster/taskgraph/util/workertypes.py
  testing/mozharness/configs/talos/windows_taskcluster_config.py
Due: taskgraph-tests, mozharness

Bug 1354695 - Add win32 nightly builds to taskgraph
  taskcluster/ci/build/windows.yml
  taskcluster/ci/nightly-l10n/kind.yml
  taskcluster/taskgraph/target_tasks.py
  taskcluster/taskgraph/transforms/beetmover.py
  testing/mozharness/configs/single_locale/tc_win32.py
Due: taskgraph-tests, mozharness

Bug 1379261 - release promotion changes for TC mac and win builds
  testing/mozharness/configs/beetmover/en_us_build.yml.tmpl
  testing/mozharness/configs/beetmover/en_us_repackage.yml.tmpl
  testing/mozharness/configs/beetmover/en_us_repackage_signing.yml.tmpl
Due: mozharness

Bug 1354695 - part 2: Put win32 in .cron.yml
  .cron.yml
Due: none

Bug 1379670 - Update in-tree configs for jamun r=Callek DONTBUILD
  testing/mozharness/configs/single_locale/dev-mozilla-beta.py
  testing/mozharness/configs/single_locale/jamun.py
Due: mozharness

Bug 1354695 - part 3: Rename nightly_win64 to nightly_win
  taskcluster/taskgraph/util/scriptworker.py
Due: taskgraph-tests

Bug 1379672: Add tests for Windows nightly builds
  taskcluster/ci/test/test-platforms.yml
  taskcluster/taskgraph/transforms/job/mozharness_test.py
  taskcluster/taskgraph/transforms/tests.py
Due: taskgraph-tests

Bug 1379661: Add Talos tests to Windows builds
  taskcluster/ci/test/test-platforms.yml
  taskcluster/ci/test/test-sets.yml
  taskcluster/ci/test/tests.yml
  taskcluster/taskgraph/transforms/job/mozharness_test.py
Due: taskgraph-tests

Bug 1357126 - L10n repacks for win64
  taskcluster/ci/l10n/kind.yml
  taskcluster/ci/nightly-l10n/kind.yml
  taskcluster/taskgraph/transforms/job/mozharness.py
  taskcluster/taskgraph/transforms/l10n.py
  testing/mozharness/configs/single_locale/tc_win32.py
  testing/mozharness/configs/single_locale/tc_win64.py
  testing/mozharness/scripts/desktop_l10n.py
  toolkit/locales/l10n.mk
Due: taskgraph-tests, mozharness

Avoid triggering assertion when display item has nullptr frame
  layout/base/PresShell.cpp
Due: none

Don't clobber the value of mWillBuildScrollableLayer when we are building a display list for event handling.
  layout/generic/nsGfxScrollFrame.cpp
  layout/generic/nsSubDocumentFrame.cpp
Due: none

Bug 1354695 - part 4: Add win32 repackages
  taskcluster/ci/nightly-l10n/kind.yml
  taskcluster/ci/repackage-l10n/kind.yml
  taskcluster/ci/repackage-signing/kind.yml
  taskcluster/ci/repackage/kind.yml
  taskcluster/taskgraph/transforms/gecko_v2_whitelist.py
Due: taskgraph-tests

Bug 1379987 - Support Symbol Upload for win32 nightly
  taskcluster/ci/upload-symbols/kind.yml
Due: none

Attempt to make Beetmover Work.
  taskcluster/ci/beetmover-l10n/kind.yml
  taskcluster/ci/beetmover-repackage/kind.yml
  taskcluster/ci/beetmover/kind.yml
  taskcluster/taskgraph/transforms/beetmover.py
  taskcluster/taskgraph/transforms/beetmover_repackage.py
Due: taskgraph-tests

Backed out changeset d497b8655040
  taskcluster/ci/beetmover-l10n/kind.yml
  taskcluster/ci/beetmover-repackage/kind.yml
  taskcluster/ci/beetmover/kind.yml
  taskcluster/taskgraph/transforms/beetmover.py
  taskcluster/taskgraph/transforms/beetmover_repackage.py
Due: taskgraph-tests

Bug 1379661: Enable Talos to Windows on date
  taskcluster/ci/test/tests.yml
Due: none

Bug 1380032 - Fix devedition TC configs r=Callek a=release
  taskcluster/ci/build/macosx.yml
Due: none

Update dependency checking for non-docker repackagers
  taskcluster/taskgraph/transforms/beetmover_repackage.py
Due: taskgraph-tests

No bug - Add nightly-date to the stub installer conditional
  browser/confvars.sh
Due: none
